.user-edit-dialog, .group-edit-dialog{
    background: white;
    z-index: 1000;
}

.user-edit-dialog,.group-edit-dialog {
    max-width: 300px;
}

.user-edit-dialog .modal-body .nav-tabs li a, .group-edit-dialog .modal-body .nav-tabs li a {
    padding: 0;
}
.group-edit-dialog .user-thumb {
    height: auto;
    margin-bottom: 10px;
}
.group-edit-dialog .user-thumb .user-status {
    display: none;
}

.user-edit-dialog .modal-header, .group-edit-dialog .modal-header {
    text-overflow: ellipsis;
    overflow: hidden;
}
