.user-thumb, .group-thumb {
    max-width: 100%;
    overflow: hidden;
    height: 200px;
    font-size: 12px;
    cursor: auto;
}
.user-thumb .gridcard-title, .group-thumb .gridcard-title {
    min-height: 25px;
}

.user-thumb .gridcard-tools,.group-thumb .gridcard-tools {
    right: 0
}
.user-data-container {
    display: flex;
    width: 100%;
    height: 132px;
}
.user-card-info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px 10px 0 10px;
    width: 0;
}
.user-card-rolegroups-container {
    display: flex;
    min-height: 72px;
    padding-top: 3px;
}
.user-thumb .role-containter{
    width: 50px;
    margin-right: 20px
}
.user-thumb .avatar-containter{
    width: 50px;
}
.user-thumb  .groups-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
}
.user-thumb  .groups-container .groups-list{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.user-thumb .groups-container .groups-list .group-item {
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.group-thumb .group-thumb-description {
    font-size: 12px;
    text-align: justify;
    min-height: 72px;
    display: flex;
    flex-direction: column;
    padding-top: 3px;
}
.group-thumb .group-thumb-description .group-thumb-description-content {
    overflow: auto;
    word-wrap: break-word;
}