<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>HTTP_PROXY</display-name>

    <context-param>
      <param-name>proxyPropPath</param-name>
      <param-value>/proxy.properties</param-value>
    </context-param>
  
    <!-- Proxy Servlet -->
    <servlet>
      <servlet-name>HttpProxy</servlet-name>
      <servlet-class>it.geosolutions.httpproxy.HTTPProxy</servlet-class>
    </servlet>
  
    <servlet-mapping>
      <servlet-name>HttpProxy</servlet-name>
      <url-pattern>/proxy/*</url-pattern>
    </servlet-mapping>
  
</web-app>
