.services-config-editor .service-radio{
    padding-left: 0
}
.services-config-editor .services-list{
    height: 130px;
    border-radius: 6px;
    overflow: auto;
    border: 1px solid rgba(128, 128, 128, 0.55);
}
.services-config-editor .search-service-btn-group {
    margin-bottom: 10px;
    margin-top: 10px;
}
.services-config-editor .services-panel .panel-body{
    padding-top: 0px;
}
.services-config-editor .services-list .glyphicon{
    cursor: pointer;
    padding: 2px;
    color: #078aa3;
    float: right;
}
.services-config-editor .services-list .search-serivce-name{
    text-transform: capitalize;
    padding-left: 4px;
}
.services-config-editor .search-service-item {
   margin: 4px;
   margin-left: 6px;
   margin-right: 10px;
}
.services-config-editor .checkbox{
    padding-left: 0px;
}
.services-config-editor .wfs-required-props-title{
    margin-bottom: 15px;
    display: inline-block;
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px);
    border-bottom: 1px solid gray;
    font-size: larger;
}
.services-config-editor-confirm-close{
    position: absolute;
    right: 10px;
    top: 4px;
    border-radius: 6px;
}
.services-config-editor .slider-label {
    margin-left: 10px;
    width: 20px;
}
.services-config-editor .list-remove-btn {
    float: right;
    border: 0px;
    background-color: transparent;
}
.services-config-editor .priority-info {
    font-size: smaller;
    display: inline-block;
    padding-left: 2px;
    width: 370px;
}
