// **************
// Theme
// **************
#ms-components-theme(@theme-vars) {
    .ms-autorefresh-divider {
        .border-color-var(@theme-vars[main-border-color]);
    }
}

// **************
// Layout
// **************
.ms-autorefresh-wrapper {
    display: flex;
    gap: 1ch;
    align-items: center;
}
