.catalog-close {
    float: right
}

.catalog-sidebar .catalog-panel .panel-heading {
    background-color: @ms2-color-primary;
    color: @ms2-color-text-primary;
}

.catalog-pagination{
    text-align: "center"
}
