.color-range-selector {
    .color-ramp-item {
        height: 20px;
        display: flex;
        alignItems: center;
        lineHeight: 20px;
        .color-cell {
            width: 20px;
            height: 20px;
            white-space: nowrap;
        }
        .colorname-cell {
            height: 20px;
            margin-left: 5px;
        }
    }
    .rw-input {

        .color-ramp-item{
            .color-cell, .colorname-cell {
                height: 24px;
                line-height: 24px;
            }
            height: 24px;
            margin-top: 4px;
        }
    }

}
