.page-context-creator {
    position: absolute;
}

.general-settings-step {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;

    .spinner {
        float: right;
        width: 10px;
        margin-left: 10px;
    }
}

.configure-plugins-step-upload {
    .dropzone {
        color: #31708f;
        transition: 0.3s;
        &:hover {
            transform: scale(1.05);
        }
        border-width: 1px;
        height: 200px;
        width: 400px;
        margin: auto;
        border-color: #ccc;
        border-radius: 3px;
        background-color: white;
        .shadow-soft;
        cursor: pointer;
        font-size: 16px;
    }
    .active {
        transform: scale(1.05);
    }
    .title-header {
        background-color: #078aa3;
        color: white;
        font-weight: bold;
        height: 50px;
        width: 800px;
        margin: auto;
        font-size: 18px;
        padding: 10px;
        .glyphicon {
            float: right;
        }
    }
    .uploads-list {
        margin-top: 15px;
    }
    .uploading-file {
        width: 500px;
        margin: auto;
        height: 60px;
        padding: 20px;
        border: solid;
        border-color: #ccc;
        border-radius: 2px;
        border-width: 1px;
        margin-top: 5px;
        .plugin-name {
            padding-left: 10px;
        }
        .glyphicon-ok {
            color: green;
        }

        .glyphicon-remove {
            color: red;
        }
        .upload-error {
            float: right;
        }
        .upload-remove {
            float: right;
            cursor: pointer;
        }
    }
    height: 100%;
}

.configure-plugins-step {
    padding: 10px 0 10px 0;
    max-width: 1000px;
    margin: auto;
    height: 100%;

    .ms2-transfer-panel {
        padding: 8px;
    }

    .ms2-transfer-title-area .btn-group {
        float: right;
        margin-top: -10px;
    }

    .plugin-card-disabled {
        opacity: 0.5;
    }

    .plugin-configuration-line-error {
        background-color: red;
    }

    .plugin-configuration-errorarea {
        .plugin-configuration-errorarea-header {
            background-color: orange;
            color: white;
            padding-left: ((@line-height-computed - 1) / 2);
            padding-top: ((@line-height-computed - 1) / 4);
            padding-bottom: ((@line-height-computed - 1) / 4);
        }
        .plugin-configuration-errormsg {
            background-color: #ff5858;
            color: white;
            border: none;
            margin: 0;
            white-space: pre-wrap;
        }
    }

    .configure-map-templates-transfer {
        padding: 8px;

        .mapstore-side-preview {
            .configure-map-templates-preview {
                display: flex;
                position: relative;
                width: 100%;
                height: 100%;
                background-color: #ddd;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .glyphicon {
                font-size: @square-btn-size;
                margin: auto;
                color: white;
            }
        }

        .configure-map-templates-formaticon {
            display: flex;
            padding-left: 8px;
            line-height: 30px;
            margin-bottom: 10px;
            font-size: 11px;

            .glyphicon {
                font-size: 22px;
                margin-right: 2px;
            }
        }
    }
}

.page-context-creator .navbar {
    margin-bottom: 0;
}

#mapstore-navbar-container .dropdown-menu {
    z-index: 1031;
}

.viewer.context-creator-viewer {
    position: relative;
}
