.page-context-creator {
    position: absolute;
}

.general-settings-step {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.configure-plugins-step {
    padding: 10px 0 10px 0;
    max-width: 1000px;
    margin: auto;
    height: 100%;

    .ms2-transfer-panel {
        padding: 8px;
    }

    .plugin-card-disabled {
        opacity: 0.5;
    }
}

.page-context-creator .navbar {
    margin-bottom: 0;
}

#mapstore-navbar-container .dropdown-menu {
    z-index: 1031;
}

.viewer.context-creator-viewer {
    position: relative;
}