.new-map-dialog {
    height: 100%;

    .new-map-preview {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #ddd;

        img {
            width: 100%;
            height: 100%;
        }

        .glyphicon {
            font-size: @square-btn-size;
            margin: auto;
            color: white;
        }
    }

    .new-map-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}