.details-close {
    float: right
}

.details-panel .panel-heading {
    background-color: @ms2-color-primary;
    color: @ms2-color-text-primary;
}

.details-panel div div div.ms2-border-layout-body {
    background-color: @ms2-color-background;
}

.details-panel .panel-body {
    height: ~'calc(100% - 31px)'
}
.ms-details-text {
    word-break: break-word;
}

.details-viewer-modal, .ms-details-preview {
    .ms-details-text

}

/////////////////////
// LIBRARIES FIX
/////////////////////
// issue in react-draft-wysiwyg align not working on multi line paragraph TODO: unify with GeoStory's fix in a separated less file for editor
.ms-details-draftjs-editor {
        .ms-text-editor-main {
            .ms-details-text
        }
        .public-DraftStyleDefault-ltr {
        text-align: inherit;
    }
}
