.details-close {
    float: right
}

.details-panel .panel-heading {
    background-color: @ms2-color-primary;
    color: @ms2-color-text-primary;
}

.details-panel div div div.ms2-border-layout-body {
    background-color: @ms2-color-background;
}

.details-panel .panel-body {
    height: ~'calc(100% - 31px)'
}

.ms-details-dialog-contents {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#mapstore-details, .ms-details-dialog-body {
    .ms-details-panel-editor, .ms-details-dialog-contents-body {
        display: flex;
        flex-direction: column;
        height: 100%;

        .ms-details-component {
            flex-grow: 1;
            display: flex;

            .ms-quill-details-editor {
                flex-grow: 1;

                .quill {
                    display: flex;
                    flex-direction: column;
                    height: 100%;

                    .ql-container {
                        overflow-y: auto;
                        flex-basis: 0;
                        flex-grow: 1;
                    }
                }
            }
        }
    }
}
