#dock-toolbar #left-tools.left-tools {
    position: absolute;
    left: 10px;
    bottom: 2px;
}

#dock-toolbar #right-tools.right-tools {
    position: absolute;
    right: 2px;
    bottom: 2px;
}

.dockpanel-wrapped-component {
    display: flex;
    flex: 1 0 auto;
    flexDirection: column;
    width: 100%;
}
