.ms2-transfer {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;

    .ms2-transfer-subpanel {
        display: flex;
        flex-direction: column;
        flex: 0.5;
        overflow: hidden;

        .ms2-transfer-header {
            padding: 8px;

            .ms2-transfer-title-area h4 {
                display: flex;
                overflow-wrap: anywhere;
                min-height: @square-btn-medium-size;

                span {
                    flex: 1;
                }
            }
        }

        .empty-state-container {
            margin: auto;

            .empty-state-main-view {
                .empty-state-image {
                    margin: auto;
                    max-width: 128px;
                    max-height: 128px;
                }
                h1 {
                    font-size: @font-size-base * 1.1;
                    overflow-wrap: break-word;
                }
            }
        }
    }

    .btn-group-vertical {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

}

.ms2-transfer-sidegrid {
    padding: 0 8px 0 8px;
    overflow: auto;
    
    .ms2-transfer-lastcard {
        margin: 10px 0 10px 0;
    }
}