/* drawer menu */

#drawer-menu-button {
    .shadow;
    left: 0;
    top: 0;
}

#mapstore-drawermenu {

    .nav-body {
        overflow: hidden;
    }

    .panel-heading {
        border: none;
        padding: 0;
    }

    .panel-body {
        border: none;
        padding: 0;
    }

    .navHeader {
        & > .glyphicon {
            display: block;
            float: left;
            background-color: transparent;
            font-size: @icon-size;
            margin: floor((@padding-left-square - 1) / 1.230769231 /* font ratio height/width */) (@padding-left-square - 1);
            &:hover {
                background-color: transparent;
                color: darken(@ms2-color-primary, 10%);
            }
        }
    }

    .react-resizable-handle {
        position: absolute;
        width: 10px;
        height: 100%;
        bottom: 0;
        right: 0;
        background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
        background-position: bottom right;
        padding: 0 3px 3px 0;
        background-repeat: no-repeat;
        background-origin: content-box;
        box-sizing: border-box;
        cursor: e-resize;
    }
}

.toolbar-panel #background-switcher {
    max-height: 600px;
    overflow: auto;
}
