@ms-story-bg: @ms2-color-background;
@ms-story-bg-grey: @ms2-color-shade-lighter;

#page-geostory{
    position: absolute;
    #home-button {
        float: right;
    }
    #mapstore-navbar-container {
        margin-bottom: 0;
        z-index: 100;
    }
}

.ms-geostory-builder {
    /*
    overrides for side grid
    TODO: this style need improvements, missing space between cards and scrollbar
    */
    .msSideGrid {
        position: relative;
        /*
        we should not use bootstrap components inside our custom component
        in particular Row and Col because their behaviours rely on the screen page width
        */
        .row {
            margin: 0;
        }
        .col-xs-12 {
            padding: 0;
        }
    }
    .ms-section {
        /*
        Preview card
        ---
        .ms-section-preview */
        &-preview {
            position: relative;
            /*
            Simple style for icon preview in builder
            ---
            .ms-section-preview-icon */
            &-icon {
                position: absolute;
                display: flex;
                width: 100%;
                height: 100%;
                background-color: @ms-story-bg-grey;
                & > * {
                    margin: auto; /* center first child in preview */
                    align-self: center; /* center first child in preview (ie) */
                }
            }
        }
    }
}

.ms-cascade-story {
    .ms-sections {
        /* 
        Main scrollable container of the cascade story
        ---
        .ms-sections-container */
        &-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }
    }

    .ms-section {
        border-bottom: 2px solid red; /* DEBUG BORDER (REMOVE) */

        position: relative;
        z-index: 1;
        background-color: @ms-story-bg;
        /*
        This class combines position sticky with height 0 and overflow-y visible
        to provide a fixed background inside the section.
        In case position sticky is not supported part of the style will be manage by js using position: fixed
        to provide a similar effect
        ---
        .ms-section-background
        */
        &-background {
            position: -webkit-sticky;
            position: -moz-sticky;
            position: -ms-sticky;
            position: -o-sticky;
            position: sticky;
            top: 0;
            width: 100%;
            height: 0;
            overflow-y: visible;
            /*
            ---
            .ms-section-background-container
            */
            &-container {
                z-index: 0;
                width: 100%;
                overflow: hidden;
                & > * {
                    position: relative; /* needed to display on the correct z-index of background content */
                }
            }
        }
        /*
        Container for all the contents inside a section
        ---
        .ms-section-contents
        */
        &-contents {
            position: relative;
            z-index: 1;
            height: 100%;
        }
        /*
        ---
        .ms-section-paragraph
        */
        &-paragraph {
            background-color: @ms-story-bg;
        }

        &-immersive {
            .ms-content-text {
                border-bottom: 2px solid red; /* DEBUG BORDER (REMOVE) */

                display: flex;
                p {
                    width: 50%;
                    margin: auto;
                    align-self: center;
                    background-color: fade(@ms-story-bg, 50%);
                    padding: 10px;
                }
            }
        }
    }
    .ms-content {
        &-text {
            padding: 10px;
        }
    }
}
