
#identify-container {
    .layer-select-row{
        margin-top: unset;
        .layer-col{
            display: flex;
            align-items: center;
            padding: 8px 8px 0;
            z-index: 10;
        }
    }
    .coordinates-edit-row {
        display: flex;
        align-items: center;
        padding: 8px;
        margin-top: 8px;
        border-top: 1px solid rgb(221, 221, 221);
        border-bottom: 1px solid rgb(221, 221, 221);
        .coordinate-editor {
            flex: 1 1 0%;
            font-family: @font-family-monospace;
            padding: 0 4px;
        }
    }
    .coordinateRow.coord-editor.aeronautical {
        & .form-group {
            width: 100%;
            position: relative;
            & .seconds {
                min-width: 75px;
            }
        }
    }
}

#share-container {
    .coordinateRow {
        .coordinate {
            .input-group {
                .input-group-addon {
                    min-width: 45px;
                }
                .form-group {
                    width: 100%;
                    position: relative;
                }
                .direction-select {
                    width: 45px
                }
            }
        }
    }
}

#share-container, #identify-container {
    .coordinateRow {
        .coordinate {
            width: 100%;
            display: flex;
            flex: 1;
            justify-content: space-between;
            flex-wrap: wrap;
            .input-group {
                flex: 1;
                padding: 4px 0;
                margin-right: 8px;
            }
            .degrees, .minutes {
                display: flex;
                flex: 1;
                min-width: 45px;
            }
            .seconds {
                display: flex;
                flex: 1;
                min-width: 75px;
            }
        }
    }
}

.ms-identify-swipe-header {
    display: flex;
    align-items: center;
    .ms-identify-swipe-header-title {
        flex: 1;
        padding: 0 8px;
    }
    .ms-identify-swipe-header-arrow {
        min-width: @square-btn-medium-size;
    }
}

#identify-layer-select .Select .Select-menu-outer {
    z-index: 3;
}

.coordinateRow {
    margin: 0;
    border: 0;
    text-align: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    color: #333333 !important;
    background-color: transparent !important;

    input {
        font-size: 12px;
        font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    }
    .col-md-4 {
        padding: 0;
        float: unset;
        width: auto;
        margin: 0 4px;
    }
    .col-md-3, .col-md-1 {
        padding: 0;
    }
    .col-xs-12{
        justify-content: center;
    }
    &.coord-editor .col-xs-2 {
        min-width: unset !important;
    }
    .form-group {
        margin: 0;
    }
    &.coord-editor .tools.btn-group {
        margin-top: 0;
    }
    .tools.btn-group span {
        display: flex;
        justify-content: center;
    }
}

.ms-properties-viewer {
    width: 100%;
    min-width: 256px;
    + .ms-properties-viewer {
        margin-top: 8px;
    }
    &:last-child {
        padding-bottom: 8px;
    }
    thead {
        background-color: darken(@ms2-color-background, 5%);
        color: contrast(darken(@ms2-color-background, 5%));
        font-size: 1.1em;
        margin-bottom: 4px;
        th {
            padding: 0 4px 4px;
            font-weight: normal;
            word-break: break-word;
        }
    }
    tbody {
        font-size: 1em;
    }
    td {
        padding: 2px 4px 0;
        &:first-child {
            font-weight: bold;
        }
        &:last-child {
            text-align: right;
        }
    }
    tr + tr {
        border-top: 1px solid @ms2-color-shade-lighter;
    }
}

.ms-template-viewer {
    font-size: @font-size-base;
    word-break: break-word;
    h1 { font-size: 1.75em; }
    h2 { font-size: 1.55em; }
    h3 { font-size: 1.35em; }
    h4 { font-size: 1.25em; }
    h5 { font-size: 1em; }
    h6 { font-size: 0.85em; }
    h1, h2, h3 {
        margin-top: 0;
        margin-bottom: 0.7em;
    }
    h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0.7em;
    }
    p {
        font-size: 1em;
        margin: 0 0 0.7em;
    }
    & > div {
        padding: 1em;
    }
    & > div + div {
        margin-top: 4px;
        padding-top: 8px;
        border-top: 1px solid @ms2-color-shade-lighter;
    }
}

.coordinates-text {
    flex: 1 1 0%;
    margin-left: 8px;
    color: #333333 !important;
    background-color: #ffffff !important;
    font-family: @font-family-monospace;
}
.identify-icon{
    display: inline-block;
    margin-top: 4px;
}
