@info-bubble-default-size: 10px;
@info-bubble-container-border-size: 1px;
@info-bubble-default-background-color: #fff;

.mapstore-info-bubble {
    position: relative;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1.5s;

    &.mapstore-info-bubble-visible {
        opacity: 1;
    }

    .mapstore-info-bubble-container {
        position: absolute;
        min-width: 20px;
        min-height: 10px;

        .mapstore-info-bubble-arrow-container {
            position: absolute;
            display: flex;
            width: 100%;

            .mapstore-info-bubble-arrow {
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: transparent;
            }

            &.arrow-bottom {
                justify-content: center;
                bottom: 0;

                .mapstore-info-bubble-arrow {
                    border-top-color: @info-bubble-default-background-color;
                    border-width: @info-bubble-default-size @info-bubble-default-size 0;
                }
            }
            &.arrow-top {
                justify-content: center;
                top: -(@info-bubble-default-size + @info-bubble-container-border-size);

                .mapstore-info-bubble-arrow {
                    border-bottom-color: @info-bubble-default-background-color;
                    border-width: 0 @info-bubble-default-size @info-bubble-default-size ;
                }
            }
            &.arrow-left {
                height: 100%;
                align-items: center;
                justify-content: normal;
                left: -(@info-bubble-default-size + @info-bubble-container-border-size);

                .mapstore-info-bubble-arrow {
                    border-right-color: @info-bubble-default-background-color;
                    border-width: @info-bubble-default-size @info-bubble-default-size @info-bubble-default-size 0;
                }
            }
            &.arrow-right {
                height: 100%;
                align-items: center;
                justify-content: flex-end;
                right: -(@info-bubble-default-size + @info-bubble-container-border-size);

                .mapstore-info-bubble-arrow {
                    border-left-color: @info-bubble-default-background-color;
                    border-width: @info-bubble-default-size 0 @info-bubble-default-size @info-bubble-default-size;
                }
            }
        }

        .mapstore-info-bubble-default-inner {
            display: flex;
            border: @info-bubble-default-background-color @info-bubble-container-border-size solid;
            border-radius: 10px;
            background-color: @info-bubble-default-background-color;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0.5em;
            width: 250px;
            height: 100px;
            box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.20);

            &.mapstore-info-bubble-default-inner-level-success {
                color: @brand-success;
            }
            &.mapstore-info-bubble-default-inner-level-danger {
                color: @brand-danger;
            }
        }
    }
}
