div#mapstore-globalspinner {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: @square-btn-size !important;
    height: @square-btn-size !important;
    border: none !important;
    box-shadow: none !important;
}

.ms2-loading {
	background-color: @ms2-color-primary !important;
	border-bottom: 2px solid @ms2-color-info !important;
}

.ms2-loading .sk-circle-wrapper .sk-circle:before {
	background-color: @ms2-color-text-primary !important;
}

.mapstore-circle-loader(@border: 1.1em, @size: 10em, @color: #fff) {
    text-indent: -9999em;
    border-top: @border solid fade(@color, 20%);
    border-right: @border solid fade(@color, 20%);
    border-bottom: @border solid fade(@color, 20%);
    border-left: @border solid @color;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: mapstore-circle-load8 1.1s infinite linear;
    animation: mapstore-circle-load8 1.1s infinite linear;
    border-radius: 50%;
    width: @size;
    height: @size;
    .mapstore-circle-loader:after {
        border-radius: 50%;
        width: @size;
        height: @size;
    }
}
.mapstore-small-size-loader{
	.mapstore-circle-loader(2px, 100%, @ms2-color-primary);
}
.mapstore-medium-size-loader{
	.mapstore-circle-loader(6px, 100%, @ms2-color-primary);
}
.mapstore-full-size-loader{
	.mapstore-circle-loader(12px, 100%, @ms2-color-primary);
}
.mapstore-inline-loader {
    margin: @padding-left-square-md;
    .mapstore-circle-loader(@icon-size-md/10, @icon-size-md, @ms2-color-primary);
}
@-webkit-keyframes mapstore-circle-load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes mapstore-circle-load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
