.group-thumb,
.user-thumb {
	background-color: darken(@ms2-color-background, 4%);
}

.group-edit-dialog,
.user-edit-dialog {
	background: @ms2-color-background;
}

.user-status {
    width: @grid-btn-size + @grid-btn-padding-left * 2;
    text-align: center;
}

.user-status .glyphicon {
    font-size: @grid-icon-size;
    padding: 0 0 @grid-btn-padding-left 0;
}

.user-status .glyphicon-ok-sign {
    color: @ms2-color-success;
}

.user-status .glyphicon-minus-sign {
    color: @ms2-color-danger;
}

.ms-user-details-table {
    padding: 15px;
    .row {
        border-bottom: 1px solid @ms2-color-shade-lighter;
        min-height: @square-btn-size;
        display: flex;

        .col-sm-6 {
            text-align: right;
            display: flex;
            flex: 1;
            align-items: center;
            &:last-child {
                flex-direction: column;
                * {
                    align-self: flex-end;
                    margin: auto 0;
                }
            }
        }

    }
}

@media (max-width: 505px) {
    .ms-user-details-table {
        .row {
            flex-direction: column;
            padding-bottom: 5px;
            .col-sm-6 {
                &:first-child {
                    margin: 5px 0;
                }
                &:last-child {
                    * {
                        align-self: flex-start;
                    }
                }
            }

        }
    }
}
