.map-templates-preview {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ddd;

    img {
        width: 100%;
        height: 100%;
    }

    .glyphicon {
        font-size: @square-btn-size;
        margin: auto;
        color: white;
    }

}

.map-templates-favourites {
    padding-bottom: 8px;

    h4 {
        padding: 0px 15px;
    }

    .msSideGrid {
        position: relative;
    }

    .glyphicon {
        font-size: @square-btn-size / 3;
    }
}

.map-templates-all {
    padding-bottom: 15px;

    h4 {
        padding: 0px 15px;
    }

    .msSideGrid {
        position: relative;
    }
}

.map-templates-panel {
    .empty-state-container {
        display: flex;
        justify-content: center;
        height: 100%;
    }
}