
#mapstore-layer-settings-metadata {
    position: fixed;
}

.ms-resizable-modal {
    position: absolute;
    text-align: left;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;

    .ms-header {
        .row {
            &:first-child {
                padding-top: 15px;
            }
            & + .row {
                padding-top: 15px;
            }
        }
    }
    pre {
        white-space: pre-wrap;
    }

    .modal-content {
        position: absolute;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        top: 15%;
        left: ~"calc((100% - 500px) / 2)";
        width: 500px;
        height: 70%;
        margin: 0;
        border: none;
        .shadow;

        &.ms-xs {
            height: 30%;
            top: 35%;
        }

        &.ms-sm {
            height: 40%;
            top: 30%;
        }

        &.ms-lg {
            width: 1080px;
            left: ~"calc((100% - 1080px) / 2)";
        }

        &.ms-fullscreen {
            width: 98%;
            height: 98%;
            left: 1%;
            top: 1%;
            transform: translate(0, 0) !important;
        }

        &.ms-fullscreen-v {
            height: 98%;
            top: 1%;
            transform: translate(0, 0) !important;
        }

        &.ms-fullscreen-h {
            width: 98%;
            left: 1%;
            transform: translate(0, 0) !important;
        }

        &.ms-fit-content {
            max-height: 70%;
            height: unset;

            &.ms-xs {
                max-height: 30%;
                height: unset;
            }
    
            &.ms-sm {
                max-height: 40%;
                height: unset;
            }
        }

        .modal-header {
            height: @square-btn-size;
            padding: (@square-btn-size - @font-size-h4) / 2;
            border: none;
            .modal-title {
                display: flex;
                .ms-title {
                    flex: 1;
                    height: @font-size-h4;
                    line-height: @font-size-h4;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .ms-header-btn {
                    cursor: pointer;
                    margin-right: 10px;
                    transition: 0.3s;
                    display: inline-block;
                    &:hover {
                        transform: scale(1.2);
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }

            }
        }

        .modal-body {
            overflow-y: auto;
            flex: 1;
            padding: 0;
            display: flex;
            height: auto;
            flex-direction: column;
            & > div {
                overflow-y: auto;
                flex: 1;
                padding: 0;
                height: auto;
                &.ms-no-scroll {
                    overflow-y: hidden;
                }
                & > form {
                    padding: 9px;
                }
            }

            .ms-alert {
                margin: 0;
                flex: 1;
                height: 100%;
                overflow-y: auto;
                display: flex;
                .ms-alert-center {
                    margin: auto;
                }
            }
            .ms-editor {
                flex: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                .quill {
                    flex: 1;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .ql-toolbar {
                        .shadow-soft;
                        border: transparent;
                        min-height: @square-btn-size;
                    }
                    .ql-container {
                        flex: 1;
                        overflow-y: auto;
                        overflow-x: hidden;
                        border: transparent;
                    }
                }
            }
        }

        .modal-footer {
            min-height: @square-btn-size;
            border: none;
            padding: 0;
            z-index: 10;
            .btn-group {
                margin: (@square-btn-size - 34) / 2;
            }
        }
    }
}

@media (min-width: 505px) and (max-width: 768px) {
    .ms-resizable-modal {
        .modal-content {
            width: 500px;
        }
    }
}

@media (max-width: 505px) {
    .ms-resizable-modal {
        .modal-content {
            width: ~"calc(100% - 6px)";
            left: 3px;
        }
    }
}

@media (max-width: 1085px) {
    .ms-resizable-modal {
        .modal-content {
            &.ms-lg {
                width: ~"calc(100% - 6px)";
                left: 3px;
            }
        }
    }
}

@media (max-height: 768px) {
    .ms-resizable-modal {
        .modal-content {
            &.ms-sm {
                height: 70%;
                top: 15%;
            }
        }
    }
}

.ms-modal-quill-container {
    .quill {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: absolute;
        width: 100%;
        .ql-toolbar {
            border: none;
            .shadow-soft;
            min-height: @square-btn-size;
            // 24px height of quill icons
            padding: (@square-btn-size - 24px) / 2;

        }
        .ql-container {
            flex: 1;
            overflow-y: auto;
            width: 100%;
            height: auto;
            border: none;
            .ql-editor {
                min-height: 100px
            }
        }

        .ql-tooltip {
            z-index: 1000;
        }
    }
    .ql-snow {
        .ql-tooltip.ql-flip {
            transform: translateY(55px);
        }
    }

}

.modal-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 3000;
    &.ms-draggable {
        pointer-events: none !important;
        .ms-resizable-modal {
            background: transparent !important;
            pointer-events: none !important;
            .modal-dialog {
                pointer-events: auto;
            }
        }
    }
}

.ms-resizable-modal-fade-enter {
    opacity: 0.01;
    .modal.fade.in {
        .modal-dialog {
            transform: translateY(-25%);
        }
    }
}

.ms-resizable-modal-fade-enter.ms-resizable-modal-fade-enter-active {
    opacity: 1;
    transition: 0.3s ease-in;
    .modal.fade.in {
        .modal-dialog {
            transition: 0.3s ease-in;
            transform: translateY(0);
        }
    }
}

.ms-resizable-modal-fade-leave {
    opacity: 1;
    .modal.fade.in {
        .modal-dialog {
            transform: translateY(0);
        }
    }
}

.ms-resizable-modal-fade-leave.ms-resizable-modal-fade-leave-active {
    opacity: 0.01;
    transition: 0.3s ease-in;
    .modal.fade.in {
        .modal-dialog {
            transition: 0.3s ease-in;
            transform: translateY(-25%);
        }
    }
}

.toolbar-panel.portal-dialog {
    .modal-body {
        table {
            tr {
                td:nth-child(2) {
                    word-break: break-word;
                }
            }

        }
    }
}
.modal-dialog-container{
    .shadow-far;
}
