
#mapstore-mouseposition {

    span {
        font-size: @font-size-small;
        color: @ms2-color-text;
        font-weight: normal;
    }

    h5 {
        margin: 0 !important;
        width: 217px;
        height: 25px;
        float: left;
        background-color: darken(@ms2-color-background, 10%);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        padding: 4px;
        text-align: center;
    }

    .mouseposition-crs {
        width: 80px;
        height: 25px;
        font-weight: normal !important;
        display: block;
        float: left;
        background-color: darken(@ms2-color-background, 10%);
        color: @ms2-color-text;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        padding: 4px;
        font-size: @font-size-small !important;
        text-align: center;
    }

}
