/* OpenLayers minimap style */
.ol-custom-overviewmap button {
	background-color: @ms2-color-primary !important;
}

.ol-custom-overviewmap .ol-control button:focus,
.ol-custom-overviewmap button:hover {
	background-color: @ms2-color-primary !important;
}

.ol-custom-overviewmap:not(.ol-collapsed) {
	background: @ms2-color-primary !important;
	border-radius: 3px !important;
}

.ol-custom-overviewmap .ol-overviewmap-map {
	height: 133px !important;
}

.ol-custom-overviewmap {
	margin-bottom: 3px;
}

.ol-attribution.ol-uncollapsible {
    color: @ms2-color-text;
    li {
        font-size: 11px;
    }
}

div.ol-scale-line.ol-unselectable {
	border: 2px solid @ms2-color-text;
	border-top: none;
	line-height: 1.0;
	border-radius: 0;
	right: 10px;
	padding: 2px 5px 1px;
	white-space: nowrap;
	overflow: hidden;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	top: 10px;
	position: relative;
}

.ol-attribution ul {
    color: @ms2-color-text;
    text-shadow: none;
}

div.ol-scale-line-inner {
	border: 0;
	border-top: 0;
	color: @ms2-color-text;
	font-size: 11px;
	text-align: center;
	margin: 0;
}

.ol-custom-overviewmap, .ol-custom-overviewmap.ol-uncollapsible {
    bottom: 55px !important;
    left: auto !important;
    right: 57px !important;
    top: auto !important;
}

.ol-scale-line.ol-unselectable {
    right: 58px;
    left: auto;
    bottom: 3px;
}

.ol-scale-line {
	background-color: transparent !important;
	color: @ms2-color-text !important;
}

.ol-viewport {
    .ol-overlay-container.ol-selectable {
        pointer-events: none;
    }

    .tooltip {
        z-index: 0;
        position: relative;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        color: white;
        padding: 4px 8px;
        opacity: 0.7;
        white-space: nowrap;
    }
    .tooltip-measure {
        opacity: 1;
        font-weight: bold;
    }
    .tooltip-static {
        background-color: #ffcc33;
        color: black;
        border: 1px solid white;
    }
    .tooltip-measure:before,
    .tooltip-static:before {
        border-top: 6px solid rgba(0, 0, 0, 0.5);
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        content: "";
        position: absolute;
        bottom: -6px;
        margin-left: -7px;
        left: 50%;
    }
    .tooltip-static:before {
        border-top-color: #ffcc33;
    }
}

.ol-rotate {
    width: @square-btn-size;
    height: @square-btn-size;
    background: none;
    margin-right: 7px;
    .ol-rotate-reset {
        box-shadow: -1px 1px 5px 1px #5e5e5e;
        height: @square-btn-size;
        width: @square-btn-size;
        color: @ms2-color-text-primary;
        background-color: @ms2-color-primary;
        border-color: @btn-primary-border;
        .ol-compass {
            font-size: 36px;
        }
    }
    .ol-rotate-reset:hover, .ol-rotate-reset:focus {
        background-color: darken(@ms2-color-primary, 5%);
    }
}
.ol-rotate:hover {
    background: none;
}
