#rules-manager-view-container{
    position: absolute;
    #mapstore-navbar-container {
        margin-bottom: 0;
        z-index: 100;
    }
}

#rules-manager-view-container #home-button {
    float: right;
}