.noUi-target {
    height: 4px !important;
    margin: 10px 0 !important;
    border-color: none !important;
    cursor: pointer !important;
    background-color: lighten(@ms2-color-primary, 10%) !important;
    &.noUi-horizontal {
        border-radius: 0 !important;
        border: none !important;
        .noUi-base {
            .noUi-origin {
                background-color: @ms2-color-shade-lighter !important;
                .noUi-handle {
                    width: @square-btn-small-size !important;
                    height: @square-btn-small-size !important;
                    left: - (@square-btn-small-size - 4) !important;
                    top: -((@square-btn-small-size - 4) / 2) !important;
                    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24) !important;
        	       -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24) !important;
        	       box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24) !important;
                    border: none !important;
                    background-color: @ms2-color-primary !important;
                    cursor: pointer !important;
                    border-radius: 0 !important;
                    &:hover {
                        background-color: darken(@ms2-color-primary, 10%) !important;
                    }
                    &:before,
                    &:after {
                        height: @square-btn-small-size !important;
                        width: @square-btn-small-size !important;
                        background: transparent !important;
                        left: 0 !important;
                        top: 0 !important;
                    }
                    &:before {
                        font-family: 'mapstore2';
                        text-align: center;
                        color: @ms2-color-text-primary;
                    }
                }
            }
        }
    }
}

.noUi-target[disabled="true"] {
    background-color: lighten(@ms2-color-shade-light, 5%) !important;
    cursor: not-allowed !important;
    &.noUi-horizontal {
        .noUi-base {
            .noUi-origin {
                background-color: @ms2-color-shade-lighter !important;
                .noUi-handle {
                    cursor: not-allowed !important;
                    background-color: @ms2-color-shade-light !important;
                    &:hover {
                        background-color: @ms2-color-shade-light !important;
                    }
                    &:before {
                        color: @ms2-color-text-primary;
                    }
                }
            }
        }
    }
}

.slider-opacity {
    .noUi-handle {
        &:before {
            content: "\00a3" !important;
        }
    }
}
