.vis-item.vis-range.histogram-item {
    background: none;
    border: none;
    bottom: 0;
    top: 0 !important;
    .vis-item-overflow {
        bottom: 0;
        .vis-item-content {
            bottom: 0;
            position: relative;
            width: 100%;
            height: 100%;
            .histogram-box {
                width: 100%;
                position: absolute;
                bottom: 0;
                background-color: rgba(122, 198, 207,.7);
                border-color: rgba(85, 138, 144, .7);
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
            .histogram-count {
                z-index: 1;
            }
        }
    }
}
.timeline-layer-icon {
    height: 100%;
    border-right: 1px outset #bfbfbf4f;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 25px;
    padding: 5px;
}
.timeline-layer-title {
    margin-left: 30px;
}
@keyframes timeline-loading {
    0% {
    background-color: #ffffff40;
    }
    50% {
        background-color: #80808040;
    }
    100% {
        background-color: #ffffff40;
    }
}
.vis-group {
    &.loading {
        //height: 4px;
        //width: 100%;
        //position: relative;
        //overflow: hidden;
        background-color: #ddd;
        animation: timeline-loading .5s linear infinite;
    }


}
