.ms-wizard {
    .form-horizontal .control-label {
        text-align: left;
        font-weight: normal;
        > span:after {
            content: ":"
        }
    }
}
.ms-wizard  .msSideGrid {
    margin: 0;
    &.compact-legend-grid {
        margin: auto;
    }
}
.ms-wizard > .row{
    margin: 15px;
}
.mapstore-step-title {
    font-size: 20px;
    font-weight: bold;
}

.mapstore-step-description {
    font-size: 14px;
    font-style: italic;
}

.mapstore-step-chart {
    margin: 0 auto;
    .recharts-wrapper {
        margin: 0 auto;
    }
}
