.background-switcher-panel {
    background-color: transparent !important;
    overflow: auto;
    position: absolute;
    top:75px;
    max-height: 90%;
    left: 10px;
}
.background-switcher-panel, .panel-heading{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.background-switcher-panel button.btn {
    padding: 4px;
}
.background-switcher-panel .panel-body{

    height:auto;
    max-height:100%%;
    overflow:auto;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: auto;
}

.background-switcher-panel .row {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}
