
/* base color */
@ms2-text-color: #f2f2f2;
@ms2-body-bg: #0a0b30;

/* disabled color */
@ms2-disabled-color: #aaaaaa;
@ms2-disabled-bg: #eeeeee;

/* brand color */
@ms2-primary-color: #ffffff;
@ms2-primary-bg: #E95420;
@ms2-info-bg: #7e64a5;
@ms2-success-bg: #8ae234;
@ms2-warning-bg: #ffd700;
@ms2-danger-bg: #bb384b;

/* btn disabled */
@ms2-btn-disabled-color: #aaaaaa;
@ms2-btn-disabled-bg: #eeeeee;

/* font */
@ms2-font-family-sans-serif: Menlo, Monaco, Consolas, "Courier New", monospace;;
