
.feature-grid-drag-handle-show .drag-handle {
    display: inline;
}

.feature-grid-drag-handle-hide .drag-handle {
    display: none;
}
.empty-row .react-grid-Cell {
    background-color: "gray";
    opacity: 0.5;
}
.empty-row:hover .react-grid-Cell {
    background-color: "gray";
    opacity: 0.5;
}
.empty-row .react-grid-Cell__value .glyphicon-exclamation-mark {
    opacity: 0;
}
