.ag-fresh .ag-header, .ag-fresh .ag-tool-panel-container {
    background: #078AA3;
    color: white;
    font-family: Raleway;
}
.ag-fresh .ag-tool-panel-container .ag-list-selection{
    color: black;
}
.ag-fresh .ag-paging-button {
    color: #078aa3;
    background-color: #ffffff;
    border: #078aa3 1px solid;
    padding: 5px;
}
.ag-fresh .ag-paging-page-summary-panel {
    color: #078aa3;
}
.featuregrid-tools {
    position: absolute;
    right: 0;
    bottom: 0;
}
.ag-body {
    /* !important is needed, we need to override inline attributes of ag-grid */
    padding-top: 55px !important;
}
.ag-header, .ag-header-row, .ag-header-container .ag-header-row {
    /* !important is needed, we need to override inline attributes of ag-grid */
    height:55px !important;
}
.ag-fresh .ag-header-cell-label {
    padding-top: 17px;
    cursor: pointer;
}
