@ms-body-color: #eeeeee;
@ms-body-bg: #333333;
@ms-body-border-color: #555555;

@ms-body-shade-color: #eeeeee;
@ms-body-shade-bg: #181818;

@ms-body-hover-color: #eeeeee;
@ms-body-hover-bg: #111111;

@ms-code-color: #c7254e;
@ms-code-bg: @ms-body-bg;

@ms-primary: #43a4ff;
@ms-info: #4caed8;
@ms-success: #74ed9c;
@ms-warning: #ebbc35;
@ms-danger: #bb4940;

@ms-focus-color: rgba(@ms-primary, 0.4);
@ms-placeholder-color: #888;
@ms-jumbotron-color: @ms-body-color;
@ms-jumbotron-bg: rgba(@ms-body-bg, 0.6);

@ms-disabled-color: #868686;
@ms-disabled-bg: #4a4a4a;

@ms-link-color: @ms-primary;
@ms-link-hover-color: darken(@ms-primary, 8%);

@ms-primary-color: #111111;
@ms-primary-bg: @ms-primary;
@ms-info-color: #111111;
@ms-info-bg: @ms-info;
@ms-success-color: #111111;
@ms-success-bg: @ms-success;
@ms-warning-color: #111111;
@ms-warning-bg: @ms-warning;
@ms-danger-color: #111111;
@ms-danger-bg: @ms-danger;
