<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns:javaee="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<!-- pick up all spring application contexts -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath*:applicationContext.xml
            classpath*:applicationContext-print.xml
        </param-value>
	</context-param>

	<context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>geostore.root</param-value>
    </context-param>

    <context-param>
      <param-name>proxyPropPath</param-name>
      <param-value>/proxy.properties,${datadir.location}/proxy.properties</param-value>
    </context-param>

	<!-- <context-param> <param-name>log4jConfigLocation</param-name> <param-value>file:${config.dir}/log4j.xml</param-value>
		</context-param> -->

	<!--
      - Loads the root application context of this web app at startup.
      - The application context is then available via
      - WebApplicationContextUtils.getWebApplicationContext(servletContext).
    -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

    <!-- Allow to use RequestContextHolder -->
    <filter>
        <filter-name>springRequestContextFilter</filter-name>
        <filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springRequestContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


	<!-- Spring Security Servlet -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>

	<!-- GZip compression -->
	<filter>
        <filter-name>CompressionFil</filter-name>
        <filter-class>com.github.ziplet.filter.compression.CompressingFilter</filter-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value> <!-- Set to true for debugging -->
        </init-param>
        <init-param>
            <param-name>compressionThreshold</param-name>
            <param-value>1024</param-value> <!-- Compress responses larger than 1KB -->
        </init-param>
        <init-param>
            <param-name>excludePathPatterns</param-name>
            <param-value>.*\.jpg,.*\.jpeg,.*\.gif,.*\.png</param-value> <!-- Exclude images -->
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>

    <!--  Backend Spring MVC controllers -->
    <!--  Backward compatibility -->
    <servlet>
        <servlet-name>loadAssets</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>loadAssets</servlet-name>
        <url-pattern>/rest/config/*</url-pattern>
    </servlet-mapping>
    <!--  Configs -->
    <servlet>
        <servlet-name>configs</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>configs</servlet-name>
        <url-pattern>/configs/*</url-pattern>
    </servlet-mapping>
    <!-- Extensions -->
    <servlet>
        <servlet-name>extensions</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>extensions</servlet-name>
        <url-pattern>/extensions/*</url-pattern>
    </servlet-mapping>

	<!-- CXF Servlet -->
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
	</servlet>

    <servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/rest/geostore/*</url-pattern>
	</servlet-mapping>

    <!-- Proxy Servlet -->
    <servlet>
      <servlet-name>HttpProxy</servlet-name>
      <servlet-class>it.geosolutions.httpproxy.HTTPProxy</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>HttpProxy</servlet-name>
      <url-pattern>/proxy/*</url-pattern>
    </servlet-mapping>

    <!-- Printing Servlet -->
    <servlet>
       <servlet-name>mapfish.print</servlet-name>
       <servlet-class>org.mapfish.print.servlet.MapPrinterServlet</servlet-class>
       <init-param>
         <param-name>config</param-name>
         <param-value>printing/config.yaml</param-value>
       </init-param>
    </servlet>
    <servlet-mapping>
      <servlet-name>mapfish.print</servlet-name>
      <url-pattern>/pdf/*</url-pattern>
    </servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
