.md-header {
    background-image: linear-gradient(120deg, #155799, #159957);
    height: 80px;
}
.md-sidebar[data-md-state="lock"] {
    top: 8rem;
}
a,
a:active,
a:hover {
    outline: None;
}
.md-header-nav > div > div > a {
    margin: 0px;
}
.md-header-nav > div > div > a > img {
    height: 63px;
    width: auto;
}
.md-footer-items {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}
.md-footer-brand-img {
    margin-top: 40px;
    max-height: 30px;
}
.md-footer-copyright, .md-footer-social {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}
.md-footer-license {
    margin-bottom: 40px;
}
