.md-header {
    background-image: linear-gradient(120deg, #155799, #159957);
    height: 80px;
}
.md-sidebar[data-md-state="lock"] {
    top: 8rem;
}
a,
a:active,
a:hover {
    outline: None;
}
.md-header-nav > div > div > a {
    margin: 0px;
}
.md-header-nav > div > div > a > img {
    height: 63px;
    width: auto;
}
