{>"navbar" boxed="true"/}

<div id="page-content-wrapper">
    <div class="container container-boxed">
        <div class="row">
            <div class="col-md-12">
                <br /><br />
                <h1>404</h1>
                <hr />
                <h3>Page Not Found</h3>
                <br />
                The file or page you have requested is not found. &nbsp;&nbsp;
                <br />
                Please make sure page address is entered correctly.
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
</div>
