html, body, #container, .fill {
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.viewer, #map {
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
