
/* base color */
@ms2-text-color: #e99e9e;
@ms2-body-bg: #333333;

/* disabled color */
@ms2-disabled-color: #aaaaaa;
@ms2-disabled-bg: #eeeeee;

/* brand color */
@ms2-primary-color: #333333;
@ms2-primary-bg: #8ae234;
@ms2-info-bg: #8ae234;
@ms2-success-bg: #4abdac;
@ms2-warning-bg: #ffd700;
@ms2-danger-bg: #bb384b;

/* btn disabled */
@ms2-btn-disabled-color: #aaaaaa;
@ms2-btn-disabled-bg: #eeeeee;
