/* square button */

button:focus {
	outline: 0 !important;
}

.no-border {
    border: none;
}

.square-button {
	height: @ms2-square-btn-side;
    width: @ms2-square-btn-side;
    padding: 0;
}

.square-button .glyphicon {
	font-size: @ms2-square-btn-icon-size;
}
