
/* drawer menu */
.nav-menu {
	background-color: @ms2-body-bg;
}

#mapstore-drawermenu .navHeader > .glyphicon-1-close {
	float: left;
	display: block;
	height: @ms2-square-btn-side;
	width: @ms2-square-btn-side;
	padding: @ms2-square-btn-padding/2 0 0 @ms2-square-btn-padding;
    font-size: @ms2-square-btn-icon-size;
}

#mapstore-drawermenu #mapstore-layers .toc-default-layer .glyphicon {
	color: @ms2-primary-bg;
}

#mapstore-drawermenu #mapstore-layers .toc-group-title {
    background-color: @ms2-body-bg;
    padding: 8px 4px 8px 4px;
}

#mapstore-drawermenu #mapstore-layers .toc-group-title .glyphicon,
#mapstore-drawermenu #mapstore-layers .glyphicon-eye-open,
#mapstore-drawermenu #mapstore-layers .glyphicon-eye-close, {
	color: @ms2-primary-bg;
    font-size:  @ms2-square-btn-icon-size-md;
}

#mapstore-drawermenu #mapstore-layers .toc-default-group > .toc-layer-tool.visibility-check {
    text-align: center;
    display: block;
    padding: 8px 4px 8px 4px;
    margin: 0 4px 0 4px;
}

#mapstore-drawermenu #mapstore-layers .group-expanded,
.group-collapsed {
	padding: 5px 0 10px 0;
	border-bottom: 1px solid darken(@ms2-body-bg, 5%);
}


.toc-layer-tool {
    margin: 0 !important;
    text-align: center;
    font-size:  @ms2-square-btn-icon-size-md;
}
