
/* dropdown-menu */
.dropdown-menu .dropdown-header {
	background-color: @ms2-primary-bg;
	color: @ms2-primary-color;
	padding: 15px;
	font-weight: bold;
}

.dropdown-menu .glyphicon {
	font-size: @ms2-square-btn-icon-size-md * 1.2;
	margin-right: 12px;
	color: @ms2-primary-bg;
}

.navbar-dx .dropdown-menu .dropdown-header,
.navbar-home .dropdown-menu .dropdown-header {
	background-color: @ms2-primary-bg;
}

.navbar-dx .dropdown-menu,
.navbar-home .dropdown-menu {
	text-transform: uppercase;
    padding: 0;
}

.navbar-dx .dropdown-menu li,
.navbar-home .dropdown-menu li {
	border-bottom: 1px solid darken(@ms2-body-bg, 2%);
}

.navbar-dx .dropdown-menu li a,
.navbar-home .dropdown-menu li a {
	max-height: @ms2-square-btn-side;
	color: @ms2-text-color;
    padding: 15px;
}
