
/* gridcard */
.gridcard-tools {
    height: @ms2-grid-btn-side !important;
}

.gridcard-button {
	height: @ms2-grid-btn-side;
	width: @ms2-grid-btn-side;
    padding: 0 @ms2-grid-btn-padding 0 @ms2-grid-btn-padding;
}

.gridcard-button .glyphicon {
    font-size: @ms2-grid-btn-icon-size;
}

.gridcard-title {
    color: @ms2-primary-color;
}

.map-thumb-description {
	color: #000000;
}
