/* help badge */
#helpbadge-scaleBox {
	background-color: @ms2-primary-color;
	color: @ms2-primary-bg;
}

#mapstore-navbar #helpbadge-search-help {
	background-color: @ms2-primary-color;
	color: @ms2-primary-bg;
}
