/* home */

#mapstore-navbar #mapstore-langselector  {
    margin-top: floor((@ms2-square-btn-side - 30) / 2) !important;
}

.pagination-toolbar {
    border-top: thin solid darken(@ms2-body-bg, 10%) !important;
}

.ms-footer {
    border-top: solid 1px @ms2-primary-bg !important;
    color: @ms2-primary-bg !important;
}
