/* loading circle */
.ms2-loading {
	background-color: @ms2-primary-bg !important;
	border: 2px solid @ms2-primary-bg !important;
}

.ms2-loading .circle-wrapper .circle:before {
	background-color: @ms2-primary-color !important;
}

div#mapstore-globalspinner {
	width: @ms2-square-btn-side !important;
	height: @ms2-square-btn-side !important;
}
