
/* login page */
.group-thumb,
.user-thumb {
	background-color: darken(@ms2-body-bg, 4%);
}

.user-status {
    width: @ms2-grid-btn-side + @ms2-grid-btn-padding * 2;
    text-align: center;
}

.user-status .glyphicon {
    font-size: @ms2-grid-btn-icon-size;
    padding: 0 0 @ms2-grid-btn-padding 0;
}

.user-status .glyphicon-ok-sign {
    color: @ms2-success-bg;
}

.user-status .glyphicon-minus-sign {
    color: @ms2-danger-bg;
}
