
/* query panel */
#mapstore-drawermenu #toc-query-container {
	background-color: darken(@ms2-body-bg, 2%);
}

#query-form-panel .querypanel {
	background-color: darken(@ms2-body-bg, 2%);
}

#query-form-panel .query-toolbar {
	height: @ms2-square-btn-side;
	background-color: @ms2-body-bg;
}

#query-form-panel button:disabled {
	color: @ms2-btn-disabled-color;
	background-color: @ms2-btn-disabled-bg !important;
    border: 1px dashed rgba(0, 0, 0, 0);
}

#mapstore-drawermenu #query-form-panel .querypanel > .query-filter-container {
    margin-left: 10px;
	margin-right: @ms2-square-btn-side + 10;
}

#query-form-panel .query-content > .container-fluid {
	border-top: 1px dashed darken(@ms2-body-bg, 10%);
}

#mapstore-drawermenu #query-form-panel .remove-filter-button .glyphicon {
	font-size: @ms2-square-btn-icon-size-sm;
}

#mapstore-drawermenu #query-form-panel .remove-filter-button span {
	line-height: @ms2-square-btn-icon-size-sm;
}

#query-form-panel .querypanel > .query-filter-container {
	border-bottom: 1px solid darken(@ms2-body-bg, 10%);
}

#query-form-panel .panel .panel .filter-group-panel {
	background-color: @ms2-body-bg;
}

#query-form-panel div.details-panel {
	background-color: @ms2-body-bg;
}

#query-form-panel .queryFormToolbar {
    margin: (@ms2-square-btn-side - 26) / 2 !important;
}
