/* tutorial */
.joyride-tooltip__button--primary {
	background-color: @ms2-primary-bg !important;
    color: @ms2-primary-color !important;
}

.joyride-tooltip__button--primary:active,
.joyride-tooltip__button--primary:focus,
.joyride-tooltip__button--primary:hover {
	background-color: @ms2-primary-bg !important;
    color: @ms2-primary-color !important;
}
