
// **************
// Theme
// **************

#ms-components-theme(@theme-vars) {
    .ms-resources-search-field {
        .border-bottom-color-var(@theme-vars[main-color]);
        &:has(input:focus) {
            .outline-color-var(@theme-vars[focus-color]);
        }
    }
}

// **************
// Layout
// **************

.ms-resources-search {
    padding: 0 1rem;
}
.ms-resources-search-field {
    max-width: 580px;
    padding: 0.25rem;
    margin: 0.5rem auto;
    border-bottom: 1px solid transparent;
    input,
    input:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }
    &:has(input:focus) {
        outline: 2px solid transparent;
        border-bottom: none;
    }
}