

// **************
// Layout
// **************

.ms-tags-manager {
    z-index: 4000;
    background-color: rgba(0, 0, 0, 0.2);
}

.ms-tags-manager-panel {
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    max-width: 800px;
}

.ms-tags-manager-entry {
    .form-group {
        width: 100%;
    }
}

.ms-tags-manager-entry-tools.ms-flex-box {
    min-width: auto;
    align-self: flex-end;
}