   .search-services-submenus{
        position: absolute;
        right: 100%;
        top: 0;
        min-width: 280px;
        max-width: 300px;
        background: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease, visibility 0.2s ease;
        z-index: 1000;
        max-height: 400px;
        overflow: auto;
        div {
            padding: 3px 5px;
            &:hover {
                background-color: var(--ms-main-hover-bg, #e0e0e0);
            }
            &.active {
                background-color: var(--primary-color, #078aa3);
                color: white;
            }
            
        } 
    }

    .trigger-item:hover + .search-services-submenus,
    .search-services-submenus:hover {
        opacity: 1;
        visibility: visible;
    }
