.ms-filter-selector-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    .ms-filter-title {
        margin-bottom: 0;
        padding: 5px 0;
    }
}
