<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<!-- pick up all spring application contexts -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath*:applicationContext.xml
            classpath*:applicationContext-print.xml
        </param-value>
	</context-param>
    <display-name>__PROJECTDESCRIPTION__ - Web App</display-name>
	<context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>geostore.root</param-value>
    </context-param>

    <context-param>
      <param-name>proxyPropPath</param-name>
      <param-value>/proxy.properties</param-value>
    </context-param>

    <!-- spring context loader -->
    <listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

	<!--
      - Loads the root application context of this web app at startup.
      - The application context is then available via
      - WebApplicationContextUtils.getWebApplicationContext(servletContext).
    -->
	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

	<!-- Spring Security Servlet -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>

  <!-- GZip compression -->
	<filter>
		<filter-name>CompressionFilter</filter-name>
		<filter-class>net.sf.ehcache.constructs.web.filter.GzipFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CompressionFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CompressionFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CompressionFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>

    <!--  Backend Spring MVC controllers -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/rest/config/*</url-pattern>
    </servlet-mapping>

    <!-- CXF Servlet -->
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
	</servlet>

    <servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/rest/geostore/*</url-pattern>
	</servlet-mapping>

    <!-- Proxy Servlet -->
    <servlet>
      <servlet-name>HttpProxy</servlet-name>
      <servlet-class>it.geosolutions.httpproxy.HTTPProxy</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>HttpProxy</servlet-name>
      <url-pattern>/proxy/*</url-pattern>
    </servlet-mapping>

   <!-- Printing Servlet -->
    <servlet>
       <servlet-name>mapfish.print</servlet-name>
       <servlet-class>org.mapfish.print.servlet.MapPrinterServlet</servlet-class>
       <init-param>
         <param-name>config</param-name>
         <param-value>printing/config.yaml</param-value>
       </init-param>
    </servlet>
    <servlet-mapping>
      <servlet-name>mapfish.print</servlet-name>
      <url-pattern>/pdf/*</url-pattern>
    </servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
