<!DOCTYPE html>
<html>
    <body>
        <div className="cookie-seeMore">
            <h2 style="font-weight: bold">Política de Cookies</h2>
            <hr />
            <p style="line-height: 100%">                
                Em conformidade com o Decreto-Lei nº 196/2003, que substituiu a Lei nº 675/1996 relativa à proteção de dados pessoais, informamos que, ao preencher este formulário e enviar esta mensagem de e-mail, você consente com o tratamento dos seus dados pessoais (dados sensíveis não serão tratados de forma alguma) obtidos pela GeoSolutions SAS por meio de ferramentas eletrônicas e/ou automatizadas. Em qualquer caso, você poderá exercer os seus direitos garantidos pelo Decreto-Lei nº 196/2003 (acesso, atualização, integração e cancelamento dos dados). Ao clicar no botão “Aceitar”, você reconhece que leu este texto e que consente com o tratamento dos seus dados pessoais. A qualquer momento, você poderá solicitar à equipe do site da GeoSolutions SAS o cancelamento da sua inscrição no serviço, seguindo as instruções no final de cada mensagem.
            </p>
            <h4 style="font-weight: bold">Cookies e seus benefícios</h4>
            <p style="line-height: 100%">Nosso site utiliza cookies, como quase todos os sites, para proporcionar a melhor experiência possível. Cookies são pequenos arquivos de texto que são armazenados no seu computador ou celular quando você navega em sites.</p>
            <p style="line-height: 100%">Nossos cookies nos ajudam a:</p>
            <ul>
                <li>Fazer com que nosso site funcione como você espera</li>
                <li>Lembrar das suas configurações durante e entre as visitas</li>
                <li>Melhorar a velocidade/segurança do site</li>
                <li>Permitir compartilhar páginas em redes sociais como o Facebook</li>
            </ul>
            <p style="line-height: 100%">Não utilizamos cookies para:</p>
            <ul>
                <li>Coletar qualquer informação pessoal identificável (sem sua permissão expressa)</li>
                <li>Coletar qualquer informação sensível (sem sua permissão expressa)</li>
                <li>Transmitir dados para redes de publicidade</li>
                <li>Transmitir dados de identificação pessoal a terceiros</li>
                <li>Pagar comissões de vendas</li>
            </ul>
            <p style="line-height: 100%">Você pode saber mais sobre todos os cookies que utilizamos abaixo.</p>
            <p style="line-height: 100%">Se as configurações do seu navegador estiverem ajustadas para aceitar cookies, consideramos que você concorda com o uso de cookies ao continuar navegando em nosso site. Caso deseje remover ou desativar os cookies do nosso site, você pode aprender como fazê-lo abaixo. No entanto, isso provavelmente fará com que o site não funcione como esperado.</p>

            <h4 style="font-weight: bold">Nossos próprios cookies</h4>
            <p style="line-height: 100%">Utilizamos cookies para que nosso site funcione, incluindo:</p>
            <ul>
                <li>Relembrar suas configurações de pesquisa</li>
                <li>Autenticação em WMS, WFS e WPS via requisições HTTP</li>
            </ul>
            <p style="line-height: 100%">Não há como impedir a configuração desses cookies, a não ser não usar nosso site.</p>
            <h4 style="font-weight: bold">Cookies de terceiros</h4>
            <p style="line-height: 100%">Nosso site, como a maioria dos sites, inclui funcionalidades fornecidas por terceiros. Um exemplo comum é um vídeo do YouTube incorporado. Nosso site inclui os seguintes recursos que utilizam cookies:</p>
            <ul>
                <li><a href="http://www.google.it/intl/en/policies/privacy/" target="_blank">Google</a></li>
                <li><a href="https://www.cloudflare.com/cookie-policy/" target="_blank">Cloudflare</a></li>
            </ul>
            <h4 style="font-weight: bold">Cookies de redes sociais</h4>
            <p style="line-height: 100%">Para que você possa curtir ou compartilhar facilmente nosso conteúdo em redes sociais como Facebook e Twitter, incluímos botões de compartilhamento em nosso site. Os cookies são definidos por:</p>
            <ul>
                <li>Twitter</li>
                <li>Facebook</li>
                <li>Linkedin</li>
                <li>Google +</li>
            </ul>
            <p style="line-height: 100%">As implicações em privacidade variam de rede social para rede social e dependem das configurações de privacidade escolhidas em cada uma delas.</p>
            <h4 style="font-weight: bold">Desativando cookies</h4>
            <p style="line-height: 100%">
                Geralmente, você pode desativar os cookies ajustando as configurações do seu navegador para impedir que ele os aceite (saiba como <a href="http://www.attacat.co.uk/resources/cookies/how-to-ban" target="_blank"> aqui</a>). No entanto, fazer isso provavelmente limitará a funcionalidade do nosso site e de grande parte dos sites da internet, já que os cookies são um componente padrão da maioria dos sites modernos.
            </p>
            <p style="line-height: 100%">
                É possível que suas preocupações com cookies estejam relacionadas aos chamados "spywares". Em vez de desativar os cookies no seu navegador, você pode usar um software anti-spyware, que atinge o mesmo objetivo excluindo automaticamente os cookies considerados invasivos. Saiba mais sobre como <a href="http://www.attacat.co.uk/resources/cookies/how-to-control-your-online-privacy" target="_blank">gerenciar cookies com software anti-spyware</a>.
            </p>
        </div>
    </body>
</html>
