<!DOCTYPE html>
<html>
    <body>
        <div className="cookie-seeMore">
            <h2 style="font-weight: bold">Policy för cookies</h2>
            <hr />
            <p style="line-height: 100%">
                I enlighet med lag nr 196/2003, som ersatte lag nr 675/1996 om skydd av personuppgifter, informerar vi dig om att du genom att fylla i detta formulär och sedan skicka detta e-postmeddelande godkänner behandlingen av dina personuppgifter (känslig information kommer inte att behandlas på något sätt) som förvärvats av GeoSolutions SAS via elektroniska och/eller automatiserade verktyg. Under alla omständigheter kan du utöva dina rättigheter som beviljats ​​dig enligt lag nr 196/2003 (datatillgång, uppdateringar, integration, avbokning). Genom att klicka på knappen "Godkänn" bekräftar du att du har läst den här texten och att du godkänner behandlingen av dina personuppgifter. Du kan när som helst be personalen på GeoSolutions SAS webbplats att avsluta prenumerationen på tjänsten genom att följa instruktionerna i slutet av varje meddelande.
            </p>
            <h4 style="font-weight: bold">Cookies och hur de gynnar dig</h4>
            <p style="line-height: 100%">Som nästan alla webbplatser använder denna webbplats cookies. Cookies är små textfiler som placeras på din dator eller mobiltelefon när du surfar på webbplatser.</p>
            <p style="line-height: 100%">Cookies hjälper oss med att:</p>
            <ul>
                <li> få vår webbplats att fungera som du förväntar dig </li>
                <li> komma ihåg dina inställningar under och mellan besöken </li>
                <li> förbättra webbplatsens hastighet/säkerhet </li>
                <li> låta dig dela sidor med sociala nätverk som Facebook </li>            </ul>
            <p style="line-height: 100%">Cookies används inte för att:</p>
            <ul>
                <li> samla in personlig information (utan ditt uttryckliga tillstånd) </li>
                <li> samla in känslig information (utan ditt uttryckliga tillstånd) </li>
                <li> skicka data till annonsnätverk </li>
                <li> skicka personligt identifierbar information till tredje part </li>
                <li> betala försäljningsprovisioner </li>            </ul>
            <p style="line-height: 100%">Du kan lära dig mer om alla cookies vi använder nedan.</p>
            <p style="line-height: 100%">Om inställningarna på den programvara som du använder för att visa denna webbplats (din webbläsare) justeras för att acceptera cookies förstår vi detta och tolkar din fortsatta användning av vår webbplats som att du godkänner våra cookies. Om du vill ta bort eller inte använda cookies från vår webbplats kan du lära dig hur du gör detta nedan, men det kommer sannolikt att innebära att vår webbplats inte fungerar som du förväntar dig.</p>

            <h4 style="font-weight: bold">Våra cookies</h4>
            <p style="line-height: 100%">Vi använder cookies för att få vår webbplats att fungera plus:</p>
            <ul>
                 <li> att komma ihåg dina sökinställningar </li>
                 <li> att autentisera för WMS, WFS, WPS via HTTP -förfrågningar </li>            </ul>
            <p style="line-height: 100%">Det finns inget sätt att förhindra att dessa cookies sätts utom att inte använda vår webbplats.</p>
            <h4 style="font-weight: bold">Cookies från tredje part</h4>
            <p style="line-height: 100%">Vår webbplats, liksom de flesta webbplatser, innehåller funktioner som tillhandahålls av tredje part. Ett vanligt exempel är en inbäddad YouTube -video. Vår webbplats innehåller följande cookies-användare:</p>
            <ul>
                <li><a href="http://www.google.it/intl/en/policies/privacy/" target="_blank">Google</a></li>
                <li><a href="https://www.cloudflare.com/cookie-policy/" target="_blank">Cloudflare</a></li>
            </ul>
            <h4 style="font-weight: bold">Cookies för sociala media</h4>
            <p style="line-height: 100%">För att du enkelt ska kunna gilla eller dela vårt innehåll på Facebook och Twitter finns det . Vi har inkluderat delningsknappar på vår webbplats. Cookies ställs in av:</p>
            <ul>
                <li>Twitter</li>
                <li>Facebook</li>
                <li>Linkedin</li>
                <li>Google +</li>
            </ul>
            <p style="line-height: 100%">Hur detta påverkar din integritet varierar mellan sociala nätverk och är beroende av de sekretessinställningar du har valt på dessa nätverk.</p>
            <h4 style="font-weight: bold">Stänga av cookies</h4>
            <p style="line-height: 100%">
Du kan vanligtvis stänga av cookies genom att justera dina webbläsarinställningar så att de inte accepterar cookies (läs hur <a href = "http://www.attacat.co.uk/resources/cookies/how-to-ban" target = " _blank "> här </a>.). Att göra det kommer dock sannolikt att begränsa funktionaliteten hos våra och en stor del av världens webbplatser eftersom cookies är standard på de flesta moderna webbplatser.            </p>
            <p style="line-height: 100%">
Det kan vara så att du oroar dig för att cookies är relaterade till så kallade "spionprogram". I stället för att stänga av cookies i din webbläsare kan du upptäcka att antispionprogramvara gör samma nytta genom att automatiskt radera cookies som anses vara invasiva. Läs mer om <a href="http://www.attacat.co.uk/resources/cookies/how-to-control-your-online-privacy" target="_blank"> hantering av cookies med antispionprogram </a >.            </p>
        </div>
    </body>
</html>
