<!DOCTYPE html>
<html>
    <body>
        <div>
            <div className="cookie-seeMore">
                <h2 style="font-weight: bold">Cookies Policy</h2>
                <hr />
                <p style="line-height: 100%">
In Übereinstimmung mit dem Gesetzesdekret Nr. 196/2003, das das Gesetz Nr. 675/1996 zum Schutz personenbezogener Daten ersetzt, informieren wir Sie, dass Sie mit der weiteren Nutzung dieser Website der Verarbeitung Ihrer persönlichen Daten (sensible Daten werden in keiner Weise behandelt), die GeoSolutions SAS durch elektronische und/oder automatische Tools erworben hat, zustimmen. In jedem Fall ist es möglich, die Rechte zu nutzen, die dem Benutzer in Übereinstimmung mit Gesetzesdekret Nr. 196/2003 (Zugang zu Daten, Aktualisierung, Integration, Löschung) gewährt werden. Durch Klicken auf den Button "Akzeptieren" erklären Sie, dass Sie diesen Text gelesen haben und der Verarbeitung personenbezogener Daten zustimmen. Sie können die Redakteure von GeoSolutions SAS jederzeit bitten, sich von dem Dienst abzumelden, indem Sie den Anweisungen am Ende jeder Nachricht folgen.
                </p>
                <h4 style="font-weight: bold">Was sind Cookies?</h4>
                <p style="line-height: 100%">Ein Cookie ist eine Textdatei, die eine Website im Browser des Benutzers speichert. Cookies erlauben normalerweise, die vom Benutzer geäußerten Präferenzen zu speichern, um später nicht wieder eingefügt zu werden. Der Browser speichert die Informationen und sendet sie an den Standortserver zurück, wenn der Benutzer diese Website erneut besucht.</p>
                <p style="line-height: 100%">Unsere Cookies helfen uns:</p>
                <ul>
                    <li>Die Website wie erwartet funktionieren zu lassen</li>
                    <li>Die Einstellungen während und zwischen den Besuchen der Seite zu merken</li>
                    <li>Die Geschwindigkeit der Website-Sicherheit zu verbessern</li>
                    <li>Es erlaubt Seiten mit sozialen Netzwerken wie Facebook zu teilen</li>
                </ul>
                <p style="line-height: 100%">Cookies werden nicht verwendet um:</p>
                <ul>
                    <li>Alle persönlich identifizierbaren Informationen (ohne Ihre Zustimmung) zu sammeln</li>
                    <li>Alle sensible Daten (ohne explizite Zustimmung) zu sammeln</li>
                    <li>Daten an Werbenetzwerke zu übergeben</li>
                    <li>Personenbezogener Daten an Dritte weiterzugeben</li>
					<li>Kostenpflichtige Verkaufsaufträge zu tätigen</li>
                </ul>
                <p style="line-height: 100%">Hier unten können Sie mehr über alle Cookies die wir verwende, erfahren.</p>
                <p style="line-height: 100%">Wenn die Einstellungen der Software, die Sie zum Durchsuchen der Website (des Browsers) verwenden, auf das Akzeptieren von Cookies eingestellt sind, akzeptieren wir diese und die fortgesetzte Nutzung unserer Website als Zustimmung zur Verwendung von Cookies. Wenn Sie Cookies von unserer Website entfernen oder nicht verwenden möchten, können Sie dies tun, indem Sie den unten stehenden Anweisungen folgen. Dies könnte jedoch dazu führen, dass unsere Website nicht wie erwartet funktioniert.</p>

                <h4 style="font-weight: bold">Unsere Cookies</h4>
                <p style="line-height: 100%">Wir verwenden Cookies, um bestimmte Funktionen der Website zu gewährleisten, einschließlich:</p>
                <ul>
                    <li>Anmeldevorgänge und anschließende Authentifizierung</li>
                    <li>Authentifizierung für WMS-, WFS-, WPS-Dienste über HTTP-Anfragen</li>
                </ul>
                <p style="line-height: 100%">Es gibt keine Möglichkeit zu verhindern, dass diese Cookies gesetzt werden, als unsere Seite nicht zu benutzen.</p>
                <h4 style="font-weight: bold">Cookies von Dritten</h4>
                <p style="line-height: 100%">Unsere Website enthält wie viele andere Funktionen und Dienste, die von Dritten angeboten werden. Ein gängiges Beispiel ist die Einbettung eines YouTube-Videos. Unsere Website enthält die folgenden Cookies:</p>
                <ul>
                    <li><a href="http://www.google.it/intl/it/policies/privacy/" target="_blank">Google</a></li>
                    <li><a href="https://www.cloudflare.com/cookie-policy/" target="_blank">Cloudflare</a></li>
                </ul>
                <h4 style="font-weight: bold">Social Website Cookies</h4>
                <p style="line-height: 100%">Sie können einfach Ihre Meinung äußern oder Inhalte auf Facebook und Twitter teilen (wir haben die Freigabetasten auf unserer Seite eingefügt). Cookies wurden aktiviert für:</p>
                <ul>
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>Linkedin</li>
                    <li>Google +</li>
                </ul>
                <p style="line-height: 100%">Die Auswirkungen auf die Privatsphäre variieren von sozialen Netzwerken zu sozialen Netzwerken und hängen von den Datenschutzeinstellungen ab, die Sie in diesen Netzwerken gewählt haben.</p>
                <h4 style="font-weight: bold">Deaktivieren von Cookies</h4>
                <p style="line-height: 100%">
                    Normalerweise können Sie Cookies deaktivieren, indem Sie Ihre Browsereinstellungen ändern, um deren Verwendung zu verhindern(siehe <a href="http://www.attacat.co.uk/resources/cookies/how-to-ban" target="_blank">hier</a>). Dies wird jedoch wahrscheinlich die Funktionalität unserer sowie vieler Websites auf der ganzen Welt einschränken (Cookies sind ein Standardbestandteil der meisten modernen Websites).
                </p>
                <p style="line-height: 100%">
                    Es kann sein, dass sich Ihre Cookie-bezogenen Bedenken auf sogenannte "Spyware" beziehen. Anstatt die Cookies in Ihrem Browser zu deaktivieren, können Sie erkennen, dass die Anti-Spyware-Software das gleiche Ziel erreicht, indem Cookies, die als invasiv angesehen werden, automatisch entfernt werden. Bitte lesen <a href="http://www.attacat.co.uk/resources/cookies/how-to-control-your-online-privacy" target="_blank">wieSie Cookies mit Anti-Spyware-Software verwalten</a></a>.
                </p>
            </div>
        </div>
    </body>
</html>
