<!DOCTYPE html>
<html>
    <body>
        <div className="cookie-seeMore">
            <h2 style="font-weight: bold">Politique de Cookies</h2>
            <hr />
            <p style="line-height: 100%">
                Conformément au Règlement (UE) 2016/679 (« RGPD »), au Décret législatif italien n° 196/2003 tel que modifié par le Décret législatif n° 101/2018, ainsi qu'aux Lignes directrices sur les cookies et autres outils de suivi de l'Autorité italienne de protection des données (Garante per la protezione dei dati personali, mesure n° 231 du 10 juin 2021), nous vous informons que ce site utilise uniquement des cookies techniques, nécessaires au bon fonctionnement du site et de ses fonctionnalités d'authentification. Ces cookies sont installés automatiquement et ne nécessitent pas votre consentement. Le site n'effectue aucun profilage des utilisateurs et n'utilise pas de cookies tiers.
            </p>
            <p style="line-height: 100%">
                GeoSolutions SRL traite vos données personnelles sur la base indiquée dans notre avis de confidentialité, disponible ici : <a href="https://www.geosolutionsgroup.com/privacy-cookies/" target="_blank">https://www.geosolutionsgroup.com/privacy-cookies/</a>.
            </p>
            <p style="line-height: 100%">
                Le Responsable du traitement est GeoSolutions SRL, Via Carignoni 51, 55041 Camaiore (Lucques), Italie, Tél. 0039 0584 962313, e-mail : <a href="mailto:privacy@geo-solutions.it">privacy@geo-solutions.it</a>. Le Délégué à la Protection des Données (DPO) est Colin & Partners S.r.l., joignable à l'adresse <a href="mailto:dpo@geosolutionsgroup.com">dpo@geosolutionsgroup.com</a>.
            </p>
            <p style="line-height: 100%">
                Vous pouvez exercer à tout moment les droits prévus au Chapitre III du RGPD (accès, rectification, effacement, limitation du traitement, portabilité des données, opposition), en écrivant à <a href="mailto:privacy@geo-solutions.it">privacy@geo-solutions.it</a>, ainsi que le droit d'introduire une réclamation auprès de l'Autorité italienne de protection des données (<a href="https://www.garanteprivacy.it" target="_blank">www.garanteprivacy.it</a>) conformément à l'article 77 du RGPD.
            </p>
            <h4 style="font-weight: bold">Que sont les Cookies ?</h4>
            <p style="line-height: 100%">Un cookie est un fichier texte qu'un site web enregistre sur le navigateur de l'ordinateur de l'utilisateur. Les cookies permettent généralement de mémoriser les préférences exprimées par l'utilisateur afin de ne pas avoir à les saisir à nouveau par la suite. Le navigateur enregistre l'information et la retransmet au serveur du site lorsque l'utilisateur visite à nouveau ce site web.</p>
            <p style="line-height: 100%">Nos cookies techniques nous aident à :</p>
            <ul>
                <li>Permettre au site web de fonctionner comme prévu</li>
                <li>Mémoriser les paramètres pendant et entre les visites du site</li>
                <li>Maintenir la session pendant l'authentification</li>
                <li>Améliorer la sécurité du site</li>
            </ul>
            <p style="line-height: 100%">Le site n'utilise pas de cookies pour :</p>
            <ul>
                <li>Collecter des informations d'identification personnelle à des fins de profilage</li>
                <li>Collecter des catégories particulières de données (les données dites sensibles)</li>
                <li>Transmettre des données à des réseaux publicitaires</li>
                <li>Transmettre des données personnelles à des tiers à des fins de marketing</li>
                <li>Envoyer des communications commerciales non sollicitées</li>
            </ul>
            <p style="line-height: 100%">Vous pouvez en savoir plus sur tous les cookies que nous utilisons ci-dessous.</p>
            <p style="line-height: 100%">Les cookies techniques sont installés automatiquement, car nécessaires au fonctionnement du site, et ne nécessitent pas votre consentement. Si vous les désactivez, notre site pourrait ne pas fonctionner comme prévu.</p>

            <h4 style="font-weight: bold">Nos Cookies</h4>
            <p style="line-height: 100%">Nous utilisons des cookies techniques pour garantir certaines fonctionnalités du site web, notamment :</p>
            <ul>
                <li>Les opérations de connexion et les authentifications ultérieures</li>
                <li>L'authentification aux services WMS, WFS, WPS via des requêtes HTTP</li>
            </ul>
            <p style="line-height: 100%">Il n'est pas possible d'empêcher l'installation de ces cookies techniques autrement qu'en renonçant à utiliser le site.</p>
            <h4 style="font-weight: bold">Cookies des Réseaux Sociaux</h4>
            <p style="line-height: 100%">Notre site inclut des boutons permettant de partager du contenu sur les réseaux sociaux. Des cookies ont été activés pour :</p>
            <ul>
                <li>X</li>
                <li>Facebook</li>
                <li>Linkedin</li>
            </ul>
            <p style="line-height: 100%">Les implications en matière de confidentialité varient d'un réseau social à l'autre et dépendent des paramètres de confidentialité que vous avez choisis sur ces réseaux.</p>
            <h4 style="font-weight: bold">Désactiver les Cookies</h4>
            <p style="line-height: 100%">
                Il est généralement possible de désactiver les cookies en modifiant les paramètres du navigateur utilisé (voir le site de l'<a href="https://www.garanteprivacy.it" target="_blank">Autorité italienne de protection des données</a>.). Cela limitera cependant probablement les fonctionnalités de notre site, comme celles de nombreux autres sites web dans le monde (les cookies techniques sont un composant standard de la plupart des sites web modernes).
            </p>
            <p style="line-height: 100%">
                Pour plus d'informations sur la réglementation applicable aux cookies et sur vos droits, vous pouvez consulter la section dédiée aux cookies sur le site de l'<a href="https://www.garanteprivacy.it" target="_blank">Autorité italienne de protection des données</a>.
            </p>
        </div>
    </body>
</html>
