<!DOCTYPE html>
<html>
    <body>
        <div className="cookie-seeMore">
            <h2 style="font-weight: bold">Politika kolačića</h2>
            <hr />
            <p style="line-height: 100%">
                Sukladno Uredbi br. 196/2003, koja je zamijenila Zakon br. 675/1996 o zaštiti osobnih podataka, obavještavamo Vas da ispunjavanjem ovog obrasca i slanjem ove poruke putem e-pošte pristajete na obradu vaših osobnih podataka (osjetljivi podaci neće biti obrađivani na bilo koji način) koje je GeoSolutions SAS stekao putem elektroničkih i/ili automatiziranih alata. U svakom slučaju možete ostvariti svoja prava koja su Vam dodijeljena sukladno Zakonodavnoj uredbi br. 196/2003 (pristup podacima, ažuriranja, integracija, otkazivanje). Klikom na gumb "Prihvati" potvrđujete da ste pročitali ovaj tekst i da pristajete na obradu vaših osobnih podataka. U bilo kojem trenutku možete zatražiti od osoblja GeoSolutions SAS web stranica da vas odjave sa usluge slijedeći upute na kraju svake poruke.
            </p>
            <h4 style="font-weight: bold">Kolačići i njihova korist za Vas</h4>
            <p style="line-height: 100%">Naša web stranica koristi kolačiće, kao i gotovo sve web stranice, kako bi Vam pružila najbolje moguće iskustvo. Kolačići su male tekstualne datoteke koje se pohranjuju na vašem računalu ili mobilnom telefonu prilikom pregledavanja web stranica</p>
            <p style="line-height: 100%">Naši kolačići pomažu kako bi:</p>
            <ul>
                <li>Naše web stranice radile na način na koji Vi očekujete</li>
                <li>Zapamtili Vaše postavke za vrijeme i između različitih posjeta</li>
                <li>Poboljšali brzinu/sigurnost web stranice</li>
                <li>Omogućili dijeljenje stanica sa socijanlnim mrežama kao npr. Facebook</li>
            </ul>
            <p style="line-height: 100%">Ne koristimo kolačiće za:</p>
            <ul>
                <li>Prikupljanje bilo kojeg osobnog podatka (bez vašeg izričitog dopuštenja)</li>
                <li>Prikupljanje bilo kojeg osjetljivog podatka (bez vašeg izričitog dopuštenja)</li>
                <li>Proslijeđivanje podataka nekoj od oglašivačkih mreža</li>
                <li>Prenošenje osobnih podataka trećim stranama</li>
                <li>Plaćanje provizije</li>
            </ul>
            <p style="line-height: 100%">Možete saznati više o svim kolačićima koje koristimo ispod.</p>
            <p style="line-height: 100%">Ako su postavke vašeg softvera koji koristite za pregled ove web stranice (vaš preglednik) prilagođene za prihvaćanje kolačića, uzimamo to i vašu daljnju upotrebu naše web stranice kao da se podrazumijeva da ste suglasni sa ovakvim načinom rada. Ako želite ukloniti ili ne koristiti kolačiće s naše web stranice, možete saznati kako to učiniti u nastavku, ali to će vjerojatno značiti da naša web stranica neće raditi na način kako biste očekivali.</p>

            <h4 style="font-weight: bold">Naši kolačići</h4>
            <p style="line-height: 100%">Koristimo kolačiće kako bi naša web stranica radila uključujući i:</p>
            <ul>
                <li>Pamćenje Vaših postavki pretraživanja</li>
                <li>Korisničke podatke za prijavu na WMS, WFS, WPS putem HTTP zahtjeva</li>
            </ul>
            <p style="line-height: 100%">Nema načina da se spriječi postavljanje ovih kolačića, osim da ne koristite našu web stranicu.</p>
            <h4 style="font-weight: bold">Kolačići trećih strana</h4>
            <p style="line-height: 100%">Naša stranica, poput većine web stranica, uključuje i funkcionalnosti koju pružaju treće strane. Uobičajeni primjer je ugrađeni YouTube videozapis. Naša web stranica uključuje slijedeće koje koriste kolačiće:</p>
            <ul>
                <li><a href="http://www.google.it/intl/en/policies/privacy/" target="_blank">Google</a></li>
                <li><a href="https://www.cloudflare.com/cookie-policy/" target="_blank">Cloudflare</a></li>
            </ul>
            <h4 style="font-weight: bold">Kolačići socijalnih mreža</h4>
            <p style="line-height: 100%">Na taj način jednostavno možete "lajkati" ili dijeliti naš sadržaj na Facebook i Twitter koje smo uključili u dijeljenje gumba na našoj web stranici. Kolačiće postavljaju:</p>
            <ul>
                <li>Twitter</li>
                <li>Facebook</li>
                <li>Linkedin</li>
                <li>Google +</li>
            </ul>
            <p style="line-height: 100%">Postavke privatnosti u ovim slučajevima će se razlikovati od društvene mreže do društvene mreže i ovisiti će o postavkama privatnosti koje ste odabrali na tim mrežama.</p>
            <h4 style="font-weight: bold">Isključivanje kolačića</h4>
            <p style="line-height: 100%">
                Kolačiće obično možete isključiti prilagodbom postavki preglednika kako biste spriječili prihvaćanje kolačića (saznajte kako <a href = "http://www.attacat.co.uk/resources/cookies/how-to-ban" target = " _blank "> ovdje</a>). Međutim, to će vjerojatno ograničiti funkcionalnost našeg i velikog broja web stranica na svijetu jer su kolačići standardni dio suvremenijih web stranica.
            </p>
            <p style="line-height: 100%">
                Može biti da se Vaša zabrinutost oko kolačića odnosi na tzv. "Spyware". Umjesto isključivanja kolačića u vašem pregledniku, možete otkriti da anti-spyware softver postiže isti cilj automatski brišući kolačiće koji se smatraju invazivnim. Saznajte više o <a href="http://www.attacat.co.uk/resources/cookies/how-to-control-your-online-privacy" target="_blank"> upravljanju kolačićima pomoću antispyware softvera</a>.
            </p>
        </div>
    </body>
</html>
