<!DOCTYPE html>
<html>
    <body>
        <div className="cookie-seeMore">
            <h2 style="font-weight: bold">Zásady používania cookies</h2>
            <hr />
            <p style="line-height: 100%">
                V súlade so zákonnou vyhláškou n° 196/2003, ktorá nahradila zákon n° 675/1996 týkajúci sa ochrany osobných údajov, vám oznamujeme, že vyplnením tohto formulára a následným odoslaním tohto emailu, súhlasíte so spracovaním vašich osobných údajov (citlivé údaje nebudú nijako spracované) získaných spoločnosťou GeoSolutions SAS prostredníctvom elektronických a/alebo automatizovaných nástrojov. V každom prípade môžete uplatniť svoje práva, ktoré vám boli udelené podľa legislatívneho dekrétu n° 196/2003 (prístup k údajom, aktualizácia, integrácia, zrušenie). Kliknutím na tlačidlo „Prijať“, potvrdzujete, že ste si prečítali tento text a že súhlasíte so spracovaním vašich osobných údajov. Kedykoľvek môžete požiadať zamestnancov webovej stránky GeoSolutions SAS, aby vás odhlásili zo služby podľa pokynov na konci každej správy.
            </p>
            <h4 style="font-weight: bold">Cookies a ako môžu byť nápomocné</h4>
            <p style="line-height: 100%">Naša webová stránka používa cookies, ako takmer všetky webové stránky, aby mohlo byť jej prehliadanie a používanie čo najlepšie. Cookies sú malé textové súbory, ktoré sú umiestnené vo vašom počítači alebo mobilnom telefóne pri prehliadaní webových stránok. </p>
            <p style="line-height: 100%">Naše cookies nám pomáhajú:</p>
            <ul>
                <li>K tomu, aby web fungoval tak ako má</li>
                <li>Uložiť si nastavenia stránky počas jej používania ale aj mimo nej. Je teda možné ich znovu obnoviť.</li>
                <li>Zvýšiť rýchlosť/bezpečnosť stránok</li>
                <li>Umožniť zdieľanie stránky na sociálnych sieťach, ako napríklad Facebook</li>
            </ul>
            <p style="line-height: 100%">Nepoužívame cookies k:</p>
            <ul>
                <li>Zberu akýchkoľvek identifikačných údajov (bez vášho výslovného súhlasu)</li>
                <li>Zberu akýchkoľvek citlivých informácií (bez vášho výslovného súhlasu)</li>
                <li>Odosielaniu dát pre reklamné účely</li>
                <li>Odosielaniu identifikačných údajov tretím stranám</li>
                <li>Plateniu provízií z predaja</li>
            </ul>
            <p style="line-height: 100%">Nižšie sa môžete dozvedieť viac o všetkých cookies, ktoré používame.</p>
            <p style="line-height: 100%">Ak sú nastavenia vášho softvéru, ktorý používate na zobrazenie tejto webovej stránky (váš prehliadač), upravené tak, aby akceptovali cookies, akcetupjeme to, a vaše ďalšie používanie našej webovej stránky znamená, že s tým súhlasíte. Ak si želáte odstrániť alebo nepoužívať cookies z našich stránok, nižšie sa môžete dozvedieť, ako to urobiť, avšak pravdepodobne to bude znamenať, že náš web nebude fungovať tak, ako by ste očakávali.</p>

            <h4 style="font-weight: bold">Naše vlastné cookies</h4>
            <p style="line-height: 100%">Aby naša webová stránka fungovala, používame cookies na:</p>
            <ul>
                <li>Zapamätanie si nastavení vyhľadávania</li>
                <li>Autentifikáciu WMS, WFS, WPS pomocou funkcie HTTP request</li>
            </ul>
            <p style="line-height: 100%">There is no way to prevent these cookies being set other than to not use our site.</p>
            <h4 style="font-weight: bold">Cookies tretích strán</h4>
            <p style="line-height: 100%">Naša webová stránka, ako väčšina webových stránok, používa funkcie poskytované tretími stranami. Bežným príkladom je vložené video z YouTube. Náš web obsahuje nasledujúce prvky, ktoré používajú cookies:</p>
            <ul>
                <li><a href="http://www.google.it/intl/en/policies/privacy/" target="_blank">Google</a></li>
                <li><a href="https://www.cloudflare.com/cookie-policy/" target="_blank">Cloudflare</a></li>
            </ul>
            <h4 style="font-weight: bold">Cookies sociálnych sietí</h4>
            <p style="line-height: 100%">Pre pohodlné zdieľanie nášho obsahu sme pridali funkciu zdieľania cez tlačidlá sociálnych sietí, ako napríklad Facebook a Twitter. Cookies nastavujú:</p>
            <ul>
                <li>Twitter</li>
                <li>Facebook</li>
                <li>Linkedin</li>
                <li>Google +</li>
            </ul>
            <p style="line-height: 100%">Spôsoby ochrany osobných údajov sa budú líšiť v závislosti od sociálnej siete a budú závisieť od nastavení ochrany osobných údajov, ktoré ste v týchto sieťach vybrali.</p>
            <h4 style="font-weight: bold">Vypnutie cookies</h4>
            <p style="line-height: 100%">
                Cookies môžete vypnúť úpravou nastavení prehliadača tak, aby neprijímal cookies (návod k tomuto nastaveniu <a      href="http://www.attacat.co.uk/resources/cookies/how-to-ban" target="_blank"> je tu</a>.). To však pravdepodobne obmedzí funkčnosť našich a veľkej časti svetových webových stránok, pretože súbory cookie sú štandardnou súčasťou väčšiny moderných webových stránok.
            <p style="line-height: 100%">
                Je možné, že obavy zo súborov cookies vyvolal práve "spyware". Namiesto ich úplného vypnutia sa však odporúča použiť anti-spyware softvér, ktorý zabezpečuje ochranu a odstránenie takých cookies, ktoré identifikuje ako invazívne. Viac informácií na: <a href="http://www.attacat.co.uk/resources/cookies/how-to-control-your-online-privacy" target="_blank">správa súborov cookie pomocou anti-spyware softvéru</a>.
            </p>
        </div>
    </body>
</html>
