<!DOCTYPE html>
<html>
    <body>
        <div className="cookie-seeMore">
            <h2 style="font-weight: bold">Cookiepolitik</h2>
            <hr />
            <p style="line-height: 100%">
                I henhold til lovdekret nr. 196/2003, der erstattede lov nr. 675/1996 om beskyttelse af personoplysninger, informerer vi dig om, at du ved at udfylde denne formular og sende denne e-mail giver samtykke til behandling af dine personoplysninger (følsomme data behandles under ingen omstændigheder) indhentet af GeoSolutions SAS via elektroniske og/eller automatiske værktøjer. Du kan til enhver tid udøve dine rettigheder i henhold til lovdekret nr. 196/2003 (adgang til data, opdateringer, integration, sletning). Ved at klikke på "Accepter"-knappen bekræfter du, at du har læst denne tekst og giver samtykke til behandling af dine personoplysninger. Du kan til enhver tid anmode personalet på GeoSolutions SAS' hjemmeside om at framelde dig servicen ved at følge instruktionerne i slutningen af hver besked.
            </p>
            <h4 style="font-weight: bold">Cookies og hvordan de gavner dig</h4>
            <p style="line-height: 100%">Vores hjemmeside bruger cookies, som næsten alle hjemmesider gør, for at give dig den bedste oplevelse. Cookies er små tekstfiler, der placeres på din computer eller mobiltelefon, når du browser på hjemmesider.</p>
            <p style="line-height: 100%">Vores cookies hjælper os med at:</p>
            <ul>
                <li>Få vores hjemmeside til at fungere som forventet</li>
                <li>Huske dine indstillinger under og mellem besøg</li>
                <li>Forbedre hastigheden og sikkerheden på sitet</li>
                <li>Lade dig dele sider med sociale netværk som Facebook</li>
            </ul>
            <p style="line-height: 100%">Vi bruger ikke cookies til at:</p>
            <ul>
                <li>Indsamle personligt identificerbare oplysninger (uden din udtrykkelige tilladelse)</li>
                <li>Indsamle følsomme oplysninger (uden din udtrykkelige tilladelse)</li>
                <li>Videregive data til reklamenetværk</li>
                <li>Videregive personligt identificerbare data til tredjeparter</li>
                <li>Betale salgskommissioner</li>
            </ul>
            <p style="line-height: 100%">Du kan læse mere om alle de cookies, vi bruger, nedenfor.</p>
            <p style="line-height: 100%">Hvis indstillingerne i den software, du bruger til at se denne hjemmeside (din browser), er indstillet til at acceptere cookies, anser vi det – sammen med din fortsatte brug af vores hjemmeside – for, at du er indforstået hermed. Hvis du ønsker at fjerne eller ikke bruge cookies fra vores side, kan du lære hvordan nedenfor; det vil dog sandsynligvis betyde, at vores side ikke vil fungere som forventet.</p>

            <h4 style="font-weight: bold">Vores egne cookies</h4>
            <p style="line-height: 100%">Vi bruger cookies til at få vores hjemmeside til at fungere, herunder:</p>
            <ul>
                <li>Huske dine søgeindstillinger</li>
                <li>Godkendelse til WMS, WFS, WPS via HTTP-forespørgsler</li>
            </ul>
            <p style="line-height: 100%">Der er ingen måde at forhindre disse cookies i at blive sat andet end ved ikke at bruge vores side.</p>
            <h4 style="font-weight: bold">Tredjeparts-cookies</h4>
            <p style="line-height: 100%">Vores side inkluderer, som de fleste hjemmesider, funktionalitet leveret af tredjeparter. Et almindeligt eksempel er en indlejret YouTube-video. Vores side inkluderer følgende, som bruger cookies:</p>
            <ul>
                <li><a href="http://www.google.it/intl/en/policies/privacy/" target="_blank">Google</a></li>
                <li><a href="https://www.cloudflare.com/cookie-policy/" target="_blank">Cloudflare</a></li>
            </ul>
            <h4 style="font-weight: bold">Cookies fra sociale hjemmesider</h4>
            <p style="line-height: 100%">Så du nemt kan lide eller dele vores indhold på Facebook og Twitter har vi inkluderet delingsknapper på vores side. Cookies sættes af:</p>
            <ul>
                <li>Twitter</li>
                <li>Facebook</li>
                <li>LinkedIn</li>
                <li>Google +</li>
            </ul>
            <p style="line-height: 100%">Privatlivsmæssige konsekvenser vil variere fra netværk til netværk og afhænger af de privatlivsindstillinger, du har valgt på disse netværk.</p>
            <h4 style="font-weight: bold">Sådan slår du cookies fra</h4>
            <p style="line-height: 100%">
                Du kan som regel slå cookies fra ved at justere dine browserindstillinger, så den ikke accepterer cookies (lær hvordan <a href="http://www.attacat.co.uk/resources/cookies/how-to-ban" target="_blank"> her</a>). Det vil dog sandsynligvis begrænse funktionaliteten af vores og en stor del af verdens hjemmesider, da cookies er en standarddel af de fleste moderne hjemmesider.
            </p>
            <p style="line-height: 100%">
                Det kan være, at dine bekymringer om cookies vedrører såkaldt "spyware". I stedet for at slå cookies fra i din browser kan du måske finde, at antispyware-software opnår det samme mål ved automatisk at slette cookies, der anses for at være invasive. Læs mere om <a href="http://www.attacat.co.uk/resources/cookies/how-to-control-your-online-privacy" target="_blank"> håndtering af cookies med antispyware-software</a>.
            </p>
        </div>
    </body>
</html>
