<!DOCTYPE html>
<html>
    <body>
        <div className="cookie-seeMore">
            <h2 style="font-weight: bold">Cookies Policy</h2>
            <hr />
            <p style="line-height: 100%">
                In accordance with Law Decree n° 196/2003, which replaced the Law n° 675/1996 concerning the protection of personal data, we inform you that by filling out this form and then sending this email message, you consent to the processing of your personal data (sensitive data will not be processed in any way) acquired by GeoSolutions SAS via electronic and/or automated tools. In any case, you can exercise your rights granted to you pursuant to Legislative Decree n° 196/2003 (data access, updates, integration, cancellation). Clicking the “Accept” button, you acknowledge that you have read this text and that you consent to the processing of your personal data. At any time you can ask the staff of GeoSolutions SAS web site to unsubscribe you from the service by following the instructions at the end of each message.
            </p>
            <h4 style="font-weight: bold">Cookies and how they Benefit You</h4>
            <p style="line-height: 100%">Our website uses cookies, as almost all websites do, to help provide you with the best experience we can. Cookies are small text files that are placed on your computer or mobile phone when you browse websites</p>
            <p style="line-height: 100%">Our cookies help us:</p>
            <ul>
                <li>Make our website work as you’d expect</li>
                <li>Remember your settings during and between visits</li>
                <li>Improve the speed/security of the site</li>
                <li>Allow you to share pages with social networks like Facebook</li>
            </ul>
            <p style="line-height: 100%">We do not use cookies to:</p>
            <ul>
                <li>Collect any personally identifiable information (without your express permission)</li>
                <li>Collect any sensitive information (without your express permission)</li>
                <li>Pass data to advertising networks</li>
                <li>Pass personally identifiable data to third parties</li>
                <li>Pay sales commissions</li>
            </ul>
            <p style="line-height: 100%">You can learn more about all the cookies we use below.</p>
            <p style="line-height: 100%">If the settings on your software that you are using to view this website (your browser) are adjusted to accept cookies we take this, and your continued use of our website, to mean that you are fine with this. Should you wish to remove or not use cookies from our site you can learn how to do this below, however doing so will likely mean that our site will not work as you would expect.</p>

            <h4 style="font-weight: bold">Our own cookies</h4>
            <p style="line-height: 100%">We use cookies to make our website work including:</p>
            <ul>
                <li>Remembering your search settings</li>
                <li>Authentication to WMS, WFS, WPS via HTTP requests</li>
            </ul>
            <p style="line-height: 100%">There is no way to prevent these cookies being set other than to not use our site.</p>
            <h4 style="font-weight: bold">Third Party Cookies</h4>
            <p style="line-height: 100%">Our site, like most websites, includes functionality provided by third parties. A common example is an embedded YouTube video. Our site includes the following which use cookies:</p>
            <ul>
                <li><a href="http://www.google.it/intl/fr/policies/privacy/" target="_blank">Google</a></li>
                <li><a href="https://www.cloudflare.com/cookie-policy/" target="_blank">Cloudflare</a></li>
            </ul>
            <h4 style="font-weight: bold">Social Website Cookies</h4>
            <p style="line-height: 100%">So you can easily like or share our content on the likes of Facebook and Twitter we have included sharing buttons on our site. Cookies are set by:</p>
            <ul>
                <li>Twitter</li>
                <li>Facebook</li>
                <li>Linkedin</li>
                <li>Google +</li>
            </ul>
            <p style="line-height: 100%">The privacy implications on this will vary from social network to social network and will be dependent on the privacy settings you have chosen on these networks.</p>
            <h4 style="font-weight: bold">Turning Cookies Off</h4>
            <p style="line-height: 100%">
                You can usually switch cookies off by adjusting your browser settings to stop it from accepting cookies (learn how <a      href="http://www.attacat.co.uk/resources/cookies/how-to-ban" target="_blank"> here</a>.). Doing so however will likely limit the functionality of our’s  and a large proportion of the world’s websites as cookies are a standard part of most modern websites.
            </p>
            <p style="line-height: 100%">
                It may be that you concerns around cookies relate to so called “spyware”. Rather than switching off cookies in your browser you may find that anti-spyware software achieves the same objective by automatically deleting cookies considered to be invasive. Learn more about <a href="http://www.attacat.co.uk/resources/cookies/how-to-control-your-online-privacy" target="_blank"> managing cookies with antispyware software</a>.
            </p>
        </div>
    </body>
</html>
