<!DOCTYPE html>
<html>
    <body>
        <div>
            <div className="cookie-seeMore">
                <h2 style="font-weight: bold">Cookie Policy</h2>
                <hr />
                <p style="line-height: 100%">
                    Ai sensi del Regolamento (UE) 2016/679 (“GDPR”), del Decreto Legislativo n ° 196/2003 come modificato dal Decreto Legislativo n ° 101/2018, e delle Linee guida cookie e altri strumenti di tracciamento del Garante per la protezione dei dati personali (provvedimento n ° 231 del 10 giugno 2021), Vi informiamo che questo sito utilizza esclusivamente cookie tecnici, necessari al corretto funzionamento del sito e delle relative funzionalità di autenticazione. Questi cookie sono installati automaticamente e non richiedono il Vostro consenso. Il sito non effettua alcuna profilazione degli utenti e non utilizza cookie di terze parti.
                </p>
                <p style="line-height: 100%">
                    GeoSolutions SRL tratta i Vostri dati personali sulla base di quanto indicato nella nostra informativa privacy, disponibile qui: <a href="https://www.geosolutionsgroup.com/privacy-cookies/" target="_blank">https://www.geosolutionsgroup.com/privacy-cookies/</a>.
                </p>
                <p style="line-height: 100%">
                    Il Titolare del trattamento è GeoSolutions SRL, Via Carignoni 51, 55041 Camaiore (Lucca), Tel. 0039 0584 962313, e-mail: <a href="mailto:privacy@geo-solutions.it">privacy@geo-solutions.it</a>. Il Responsabile della Protezione dei Dati (DPO) è Colin & Partners S.r.l., contattabile all'indirizzo e-mail <a href="mailto:dpo@geosolutionsgroup.com">dpo@geosolutionsgroup.com</a>.
                </p>
                <p style="line-height: 100%">
                    Potete in qualsiasi momento esercitare i diritti previsti dal Capo III del GDPR (accesso, rettifica, cancellazione, limitazione del trattamento, portabilità dei dati, opposizione), scrivendo all'indirizzo <a href="mailto:privacy@geo-solutions.it">privacy@geo-solutions.it</a>, nonché proporre reclamo al Garante per la protezione dei dati personali (www.garanteprivacy.it) ai sensi dell'art. 77 del GDPR.
                </p>
                <h4 style="font-weight: bold">Cosa sono i Cookies?</h4>
                <p style="line-height: 100%">Un cookie è un file di testo che un sito web salva sul browser del computer dell’utente. Solitamente i cookie consentono di memorizzare le preferenze espresse dall’utente per non dover essere reinserite successivamente. Il browser salva l’informazione e la ritrasmette al server del sito nel momento in cui l’utente visita nuovamente quel sito web.</p>
                <p style="line-height: 100%">I nostri cookie tecnici ci aiutano a:</p>
                <ul>
                    <li>Permettere al sito web di lavorare come atteso</li>
                    <li>Ricordare le impostazioni durante e tra le visite al sito</li>
                    <li>Mantenere la sessione durante l'autenticazione</li>
                    <li>Migliorare la sicurezza del sito</li>
                </ul>
                <p style="line-height: 100%">Il sito non utilizza cookie per:</p>
                <ul>
                    <li>Raccogliere informazioni di identificazione personale a fini di profilazione</li>
                    <li>Raccogliere categorie particolari di dati (i c.d. dati sensibili)</li>
                    <li>Passare i dati alle reti pubblicitarie</li>
                    <li>Passare dati personali a terze parti per finalità di marketing</li>
                    <li>Effettuare comunicazioni commerciali non richieste</li>
                </ul>
                <p style="line-height: 100%">Potete saperne di più su tutti i cookies che utilizziamo qui sotto.</p>
                <p style="line-height: 100%">I cookie tecnici vengono installati automaticamente, in quanto necessari al funzionamento del sito, e non richiedono il Vostro consenso. Disabilitandoli, il nostro sito potrebbe non funzionare come ci si aspetterebbe.</p>

                <h4 style="font-weight: bold">I nostri Cookies</h4>
                <p style="line-height: 100%">Utilizziamo cookie tecnici per garantire determinate funzionalità del sito web tra cui:</p>
                <ul>
                    <li>Operazioni di Login e successive autenticazioni</li>
                    <li>Autenticazione a servizi WMS, WFS, WPS attraverso richieste HTTP</li>
                </ul>
                <p style="line-height: 100%">Non è possibile impedire l'installazione di questi cookie tecnici se non rinunciando all'utilizzo del sito.</p>
                <h4 style="font-weight: bold">Social Website Cookies</h4>
                <p style="line-height: 100%">Il nostro sito include pulsanti che permettono di condividere contenuti sui social network. I cookie sono stati abilitati per:</p>
                <ul>
                    <li>X</li>
                    <li>Facebook</li>
                    <li>Linkedin</li>
                </ul>
                <p style="line-height: 100%">Le implicazioni di privacy su questo variano da social network a social network e dipenderanno dalle impostazioni di privacy che avete scelto su queste reti.</p>
                <h4 style="font-weight: bold">Disabilitare i Cookies</h4>
                <p style="line-height: 100%">
                    È di solito possibile disattivare i cookie modificando le impostazioni del browser utilizzato (vedi <a href="https://www.garanteprivacy.it" target="_blank"> il sito del Garante per la protezione dei dati personali</a>). In questo modo però probabilmente si limiteranno le funzionalità del nostro come di molti dei siti web di tutto il mondo (i cookie tecnici sono una componente standard della maggior parte dei siti web moderni).
                </p>
                <p style="line-height: 100%">
                    Per maggiori informazioni sulla normativa applicabile ai cookie e sui Vostri diritti, potete consultare <a href="https://www.garanteprivacy.it" target="_blank"> la sezione dedicata ai cookie del sito del Garante per la protezione dei dati personali</a>.
                </p>
            </div>
        </div>
    </body>
</html>
