<!DOCTYPE html>
<html>
    <body>
        <div className="cookie-seeMore">
            <h2 style="font-weight: bold">Cookie Policy</h2>
            <hr />
            <p style="line-height: 100%">
                Pursuant to Regulation (EU) 2016/679 (“GDPR”), Italian Legislative Decree No. 196/2003 as amended by Legislative Decree No. 101/2018, and the Guidelines on cookies and other tracking tools issued by the Italian Data Protection Authority (Garante per la protezione dei dati personali, measure No. 231 of 10 June 2021), we inform you that this site uses only technical cookies, necessary for the correct functioning of the site and its authentication features. These cookies are installed automatically and do not require your consent. The site does not carry out any user profiling and does not use third-party cookies.
            </p>
            <p style="line-height: 100%">
                GeoSolutions SRL processes your personal data on the basis set out in our privacy notice, available here: <a href="https://www.geosolutionsgroup.com/privacy-cookies/" target="_blank">https://www.geosolutionsgroup.com/privacy-cookies/</a>.
            </p>
            <p style="line-height: 100%">
                The Data Controller is GeoSolutions SRL, Via Carignoni 51, 55041 Camaiore (Lucca), Italy, Tel. 0039 0584 962313, e-mail: <a href="mailto:privacy@geo-solutions.it">privacy@geo-solutions.it</a>. The Data Protection Officer (DPO) is Colin & Partners S.r.l., who can be contacted at <a href="mailto:dpo@geosolutionsgroup.com">dpo@geosolutionsgroup.com</a>.
            </p>
            <p style="line-height: 100%">
                You may exercise, at any time, the rights set out in Chapter III of the GDPR (access, rectification, erasure, restriction of processing, data portability, objection) by writing to <a href="mailto:privacy@geo-solutions.it">privacy@geo-solutions.it</a>, and you have the right to lodge a complaint with the Italian Data Protection Authority (<a href="https://www.garanteprivacy.it" target="_blank">www.garanteprivacy.it</a>) pursuant to Article 77 of the GDPR.
            </p>
            <h4 style="font-weight: bold">What are Cookies?</h4>
            <p style="line-height: 100%">A cookie is a text file that a website saves on the browser of the user's computer. Cookies usually allow the site to remember the preferences expressed by the user, so that they don't need to be entered again later. The browser stores the information and sends it back to the site's server the next time the user visits that website.</p>
            <p style="line-height: 100%">Our technical cookies help us to:</p>
            <ul>
                <li>Make the website work as expected</li>
                <li>Remember settings during and between visits to the site</li>
                <li>Keep the session active during authentication</li>
                <li>Improve the security of the site</li>
            </ul>
            <p style="line-height: 100%">The site does not use cookies to:</p>
            <ul>
                <li>Collect personally identifiable information for profiling purposes</li>
                <li>Collect special categories of data (the so-called sensitive data)</li>
                <li>Pass data to advertising networks</li>
                <li>Pass personal data to third parties for marketing purposes</li>
                <li>Send unsolicited commercial communications</li>
            </ul>
            <p style="line-height: 100%">You can find out more about all the cookies we use below.</p>
            <p style="line-height: 100%">Technical cookies are installed automatically, as they are necessary for the site to function, and do not require your consent. If you disable them, our site may not work as you would expect.</p>

            <h4 style="font-weight: bold">Our Cookies</h4>
            <p style="line-height: 100%">We use technical cookies to guarantee certain website functionalities, including:</p>
            <ul>
                <li>Login operations and subsequent authentication</li>
                <li>Authentication to WMS, WFS, WPS services via HTTP requests</li>
            </ul>
            <p style="line-height: 100%">There is no way to prevent these technical cookies being set other than to not use our site.</p>
            <h4 style="font-weight: bold">Social Website Cookies</h4>
            <p style="line-height: 100%">Our site includes buttons that allow you to share content on social networks. Cookies have been enabled for:</p>
            <ul>
                <li>X</li>
                <li>Facebook</li>
                <li>Linkedin</li>
            </ul>
            <p style="line-height: 100%">The privacy implications of this vary from social network to social network and will depend on the privacy settings you have chosen on those networks.</p>
            <h4 style="font-weight: bold">Disabling Cookies</h4>
            <p style="line-height: 100%">
                You can usually disable cookies by changing the settings of the browser you are using (see the website of the <a href="https://www.garanteprivacy.it" target="_blank">Italian Data Protection Authority</a>.). However, this will probably limit the functionality of our site, as of many websites around the world (technical cookies are a standard component of most modern websites).
            </p>
            <p style="line-height: 100%">
                For more information on the applicable regulations on cookies and on your rights, you can consult the section dedicated to cookies on the website of the <a href="https://www.garanteprivacy.it" target="_blank">Italian Data Protection Authority</a>.
            </p>
        </div>
    </body>
</html>
