#helpbadge-zoomToMaxExtent {
    display: inline;
    position: absolute;
    left: 34px;
    top: 72px;
    z-index: 100000
}

#helpbadge-scaleBox {
    display: inline;
    position: absolute;
    left: 116px;
    bottom: 48px;
    z-index: 100000
}

#helpbadge-seachBar {
    display: inline;
    position: absolute;
    left: 46px;
    top: 10px;
    z-index: 100000
}
