 #mapstore-mouseposition {
    z-index: 10;
    top: -10px;
    right: 45%;
    position: absolute;
    margin: 8px;
    text-shadow: -1px -1px 1px #000,
                  1px -1px 1px #000,
                 -1px  1px 1px #000,
                  1px  1px 1px #000;
}

#mapstore-mouseposition .label {
    max-width: 350px;
    min-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;

}

#mapstore-mouseposition .label-info {
    background-color:rgba(91,192,222,0);
    color: white;
    font-size: 110%;
}

#mapstore-mouseposition h5 {
    display: inline-block;
}
