
.background-preview-icon-frame {
    overflow: hidden;
}

.background-preview-icon-frame img{
    width: 100%;
    height: 100%;
}

.background-preview-icon-container-horizontal {
    cursor: pointer;
    float: left;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.background-preview-icon-container-horizontal:hover {
    cursor: pointer;
    box-shadow: none;
    opacity: 0.9;
}

.background-preview-icon-container-horizontal:active {
    opacity: 0.6;
}

.background-preview-icon-container-horizontal.disabled-icon {
    cursor: not-allowed;
    float: left;
    opacity: 0.5;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.background-preview-icon-container-vertical {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.background-preview-icon-container-vertical:hover {
    cursor: pointer;
    box-shadow: none;
    opacity: 0.9;
}

.background-preview-icon-container-vertical:active {
    opacity: 0.6;
}

.background-preview-icon-container-vertical.disabled-icon {
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
