
.background-preview-button-label {
    position: absolute;
    overflow: hidden;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -o-transition: all 0.0s;
    transition: all 0.0s;

}

.background-preview-button-label div {
    overflow: hidden;
    opacity: 0.8;
    box-shadow: 0 7px 14px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.11);
    -webkit-box-shadow:  0 7px 14px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.11);
    -moz-box-shadow:  0 7px 14px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.11);
}

.background-preview-button-container {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.background-preview-button-frame {
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.background-preview-button-frame img{
    width: 100%;
    height: 100%;
}

.background-preview-button-container:hover {
    cursor: pointer;
    box-shadow: none;
}

.background-preview-button-container:active {
    opacity: 0.6;
}
