
.page-maps .ms-home-description {
    background-image: url('../img/mapstore-header.jpg');
}

.page-maps .mapstore-header {
    background-image: url('../img/mapstore-header.jpg');
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    position: relative;
    top: -20px;
}

@media (min-width: 769px) {
    div#mapstore-maptype {
        width: 300px;
        margin-left: auto;
        margin-bottom: 40px;
    }
}
@media (max-width: 768px) {
    div#mapstore-maptype {
        width: 100%;
    }
}

@media (min-width: 769px) {
     #page-maps div.theme-switcher.form-group.form-group-sm {
        width: 300px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    #page-maps div.theme-switcher.form-group.form-group-sm {
        width: 100%;
    }
}
.mapstore-home-examples .carousel-caption{
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
}
