#map {
    bottom: 0;
}

.map-logo{
	bottom:5px;
}

#navigationBar .mapToolbar {
    bottom: 25px !important;
}

.leaflet-control-attribution {
    background-color: transparent;
}

.ol-attribution.ol-uncollapsible {
    background-color: transparent;
}
