#map {
    bottom: 0;
}

.map-logo{
	bottom:5px;
}

#navigationBar .mapToolbar {
    bottom: 5px !important;
}

.leaflet-control-attribution {
    width: 165px;
    right: 0;
    left: auto;
}

.ol-attribution.ol-uncollapsible {
    position: absolute;
    bottom: 0;
    right: 45px;
    left: auto;
    width: 30%;
}
