html, body, #container, .fill {
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.viewer {
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EEE;
}

#map {
    position:absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    height: auto;
    overflow: hidden;
}

#home-button {
    float: left;
}

.ol-attribution li:first-child, .leaflet-control-attribution a:first-child{
    display: none;
    visibility: hidden;
}

.map-logo{
	position:absolute;
	width:90px;
	height:27px;
	bottom:36px;
	left:5px;
	background-image:url(../img/mapstore2_logo.png);
	background-repeat:no-repeat;
	background-size:contain;
    cursor: pointer;
}

.map-logo > img{
    width: 90px;
    height: 27px;
    opacity: 0;
}

.with-love {
    position:absolute;
	width:90px;
	height:27px;
	bottom:35px;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
    background-image:url(../img/made-in-italy-logo.png);
	background-size:contain;
}

.modal-dialog-container {
    z-index: 2000!important;
}

#navigationBar .mapToolbar {
    bottom: 35px !important;
}

#mapstore-scalebox-container {
    bottom: -36px !important;
    right: 323px !important;
}

#mapstore-mouseposition {
    width: auto !important;
    right: 5px !important;
    background-color: transparent !important;
    height: 25px !important;
}

#mapstore-mouseposition .mouseposition-separator {
    display: inline !important;
}

#mapstore-mouseposition .label {
    font-size: 90% !important;
}


#mapstore-mouseposition .mouseposition-crs {
    font-size: 90%;
    margin-left: 5px;
    font-weight: bold;
}
