html, body, #container, .fill {
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.viewer, #map {
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.react-draggable .panel-heading {
    cursor: move;
}

.btn-xs {
    font-size: 15px;
}
.ol-attribution li:first-child{
    display:none;
    visibility: hidden;
}
.leaflet-control-attribution a:first-child{
    display:none;
    visibility: hidden;
}
.Sortable {
  position: relative;
  display: block;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.SortableItem {
  cursor: -webkit-grab; cursor:-moz-grab; cursor: grab;
}

.SortableItem.is-dragging {
  cursor: move;
  position: absolute;
  z-index: 1688;
  background-color: rgba(218, 218, 218, 0.8);;
  border: 1px dashed #8E8E8E;
  border-radius: 5px;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.28);
}

.SortableItem.is-placeholder {
  border: 1px dashed #8E8E8E;
  border-radius: 5px;
}

.SortableItem.is-undraggable {
  cursor: not-allowed;
}

.map-logo{
	position:absolute;
	width:90px;
	height:27px;
	bottom:5px;
	left:5px;
	background-image:url(../img/mapstore2_logo.png);
	background-repeat:no-repeat;
	background-size:contain;
    cursor: pointer;
}

.map-logo img{
    width: 90px;
    height: 27px;
    opacity: 0;
}

.with-love {
    position:absolute;
	width:90px;
	height:27px;
	bottom:5px;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
    background-image:url(../img/made-in-italy-logo.png);
	background-size:contain;
}

#mapstore-scalebox {
    z-index: 10;
    bottom: 6px;
    right: 50px;
    left: auto !important;
    position: absolute;
    margin: 8px;
}

.leafletbottom.leafletright, .leaflet-control-minimap{
    bottom: 57px !important;
    right: 49px !important;
}

.leaflet-control-scale {
    position: absolute;
    bottom: 0px;
    right: 47px;
    z-index: 1000;
}
.leaflet-control-attribution {
    width: 165px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.leaflet-bottom.leaflet-right {
    margin-bottom: 0 !important;
}

.ol-custom-overviewmap, .ol-custom-overviewmap.ol-uncollapsible {
    bottom: 65px !important;
    left: auto !important;
    right: 60px !important;
    top: auto !important;
}

.ol-scale-line.ol-unselectable {
    right: 58px;
    left: auto;
    bottom: 5px;
}

#navigationBar .mapToolbar {
    top: auto !important;
    bottom: 5px;
    right: 0 !important;
}

#navigationBar .toolbar-panel {
    bottom: 80px !important;
}

#identifyBar .mapToolbar {
    top: auto !important;
    bottom: 5px;
    right: 190px !important;
}

.panel-close {
    float: right;
    width: 10px;
    cursor: pointer;
}

.panel-close:after {
    content: 'x';
}

#mapstore-mousepositionsettings .form-group {
    margin-bottom: 0 !important;
}

#mapstore-mousepositionsettings select, #mapstore-mousepositionsettings button {
    width: 50% !important;
    float: right;
    height: 35px;
}

#mapstore-mousepositionsettings label {
    width: 100% !important;
}

#mapstore-globalspinner  {
    margin: 0 !important;
    width: 40px !important;
    position:static !important;
    border-radius: 0 !important;
}

#mapstore-mouseposition .label-info {
    white-space: normal !important;
    color: black !important;
    font-size: 110%;
    padding: 0 !important;
}

#mapstore-mouseposition {
    bottom: 5px !important;
    right: 237px !important;
    top: auto !important;
    margin: 0 !important;
    text-shadow: none !important;
    background-color: white !important;
    width: 160px !important;
    height: 50px !important;
    padding: 5px !important;
}

#mapstore-mouseposition h5 {
    margin-top: 5px !important;
}

.mouseposition-separator {
    display: block;
}

 #drawer-menu-button {
     position: absolute;
 }

#mapstore-drawermenu > div > div:nth-child(2) {
    display: none;
}

.navButtons {
    float: right;
}

.nav-content #background-switcher .thumbnail {
    border-radius: 0 !important;
    margin-bottom: 40px;
    width: 220px !important;
}
.nav-content #background-switcher .thumbnail img {
    border-radius: 0 !important;
    height: 90px;
    width: 220px !important;
}

.nav-content #background-switcher .thumbnail .caption {
    font-size: 14px !important;
    text-align: left !important;
    top: -20px !important;
    position: absolute !important;
}

.nav-content #background-switcher {
    margin-top: 10px;
}

#mapstore-drawermenu .nav-menu {
    background: rgba(255,255,255,1);
}

#mapstore-drawermenu .panel {
    border: none !important;
    box-shadow: none !important;
}
