name: Backport merged pull request
on:
  pull_request_target:
    types: [closed, labeled]
permissions:
  contents: write # so it can comment
  pull-requests: write # so it can create pull requests
jobs:
  backport:
    name: Backport pull request
    runs-on: ubuntu-latest
    # Don't run on closed unmerged pull requests
    if: >
      github.event.pull_request.merged
      && (
        github.event.action == 'closed'
        || (
          github.event.action == 'labeled'
          && contains(github.event.label.name, 'backport')
        )
      )
    steps:
      - uses: actions/checkout@v4
        with:
            # Token for git actions, e.g. git push see https://github.com/korthout/backport-action/issues/379
            token: ${{ secrets.BACKPORT_ACTION_PAT }}
      - name: Get issues
        id: get-issues
        uses: mondeja/pr-linked-issues-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.BACKPORT_ACTION_PAT }}
      - name: Create backport pull requests
        uses: korthout/backport-action@v3
        with:
          # Token for git actions, see https://github.com/korthout/backport-action/issues/379
          github_token: ${{ secrets.BACKPORT_ACTION_PAT }}
          auto_merge_method: squash
          copy_assignees: true
          copy_milestone: true
          copy_requested_reviewers: true
          add_labels: Backport
          pull_description: |-
            # Description
            Backport of #${pull_number} to `${target_branch}`.

            Fixes #${{ steps.get-issues.outputs.issues }}

          experimental: >
            {
              "conflict_resolution": "draft_commit_conflicts"
            }
