{?properties}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Property</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {#properties}
                <tr>
                    <td><code>{name|s|$dot_prop}</code></td>
                    <td><code>{.|$type}</code></td>
                    <td>{description|s|$p}</td>
                </tr>
            {/properties}
        </tbody>
    </table>
{/properties}
