.toc-group-children {
    margin-left: 15px;
}

.TOC-Node-enter, .TOC-Node-leave {
    transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    overflow: hidden;
}
.TOC-Node-enter,.TOC-Node-leave.TOC-Node-leave-active {
    opacity: 0;
    transform: scale(1, 0);
    transform-origin: top;
}
.TOC-Node-leave, .TOC-Node-enter.TOC-Node-enter-active {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: top;
}
